<div class="page page-services">
  <div class="unit-hero">
    <div class="hero-media">
            <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/Services-Header-Mobile.jpg);"></div>
                <div class="hero-media-image desktop" style="background-image: url(/assets/images/services-test-img.jpg);"></div>
        <div class="hero-media-image desktop retina" style="background-image: url(/assets/images/services-test-img.jpg);"></div>
        </div>
  </div>

  <div class="page-body page-body-unit">

    <div class="services-value-props block block-3-up">
      <div class="block-header center">
        <h2 class="block-headline">Here&#039;s how we can help</h2>
      </div>
      <div class="features-row row">
                        <div class="feature">
            <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-services-hundreds@2x.png);"></span>
            <h4 class="feature-headline">Hundreds of office services</h4>
            <p class="feature-body small">From pest control to electrical repair, Q can handle everything you need to keep your office happy and productive.</p>
          </div>
                        <div class="feature">
            <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-services-designed@2x.png);"></span>
            <h4 class="feature-headline">Designed with your office in mind</h4>
            <p class="feature-body small">We work with thousands of offices and know what it takes to get the job done right—the first time around.</p>
          </div>
                        <div class="feature">
            <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-services-quality@2x.png);"></span>
            <h4 class="feature-headline">Guaranteed quality, every time</h4>
            <p class="feature-body small">We&#039;re not happy until you&#039;re happy. That&#039;s why we offer a satisfaction guarantee for each of our projects. </p>
          </div>
            </div>
    </div>

    <div class="services-service-index block">
      <div class="block-header center">
        <h2 class="block-headline">Let us take care of it</h2>
      </div>

      <div class="services-carousel carousel mobile-carousel">
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Furniture-Assembly.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Furniture assembly</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Office-Cleaning.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Office cleaning</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Plumbing-Repair.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Plumbing repair</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Relocation.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Moving services</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-HVAC.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">HVAC service</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Snack-Replenishment.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Supply stocking</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Admin-Support-2.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Administrative support</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-IT-Security.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Access control setup</h4>
              </div>
            </a>
          </div>
            </div>

      <div class="services-carousel carousel desktop-carousel">
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Furniture-Assembly.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Furniture assembly</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Office-Cleaning.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Office cleaning</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Plumbing-Repair.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Plumbing repair</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Relocation.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Moving services</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-HVAC.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">HVAC service</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Snack-Replenishment.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Supply stocking</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-Admin-Support-2.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Administrative support</h4>
              </div>
            </a>
          </div>
                        <div class="service-card">
            <a class="card-wrapper click-wrapper" href="/signup">
              <div class="service-card-media">
                <span class="service-card-thumb" style="background-image: url(https://managedbyq.objects.frb.io/Services-IT-Security.jpg);"></span>
              </div>
              <div class="service-card-content">
                <h4 class="service-card-title">Access control setup</h4>
              </div>
            </a>
          </div>
            </div>

      <div class="service-index-mobile">
              <div class="panel panel-default" data-panel-number="1">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-1">Cleaning</a>
            </h4>
          </div>
          <div id="service-1" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">Shared spaces get dirty fast. That’s why we offer regular and one-time cleaning sessions for all your mess-related needs.</p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Ongoing cleaning</h4>
                  <p class="feature-body small">Recurring office cleaning sessions, starting at four hours a week.</p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">Deep cleaning</h4>
                  <p class="feature-body small">Intensive office cleaning sessions aimed to sanitize and clean hard-to-reach areas.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Trash hauling</h4>
                  <p class="feature-body small">Daily or weekly garbage disposal and specialty junk removal.</p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">Carpet and upholstery cleaning</h4>
                  <p class="feature-body small">Spot treatment or deep cleaning of fabric furniture, rugs, and carpeting.</p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">Window washing</h4>
                  <p class="feature-body small">Interior and exterior window cleaning in high- or low-rise buildings.</p>
                </div>
                              <div class="feature feature-6">
                  <h4 class="feature-headline">Floor buffing</h4>
                  <p class="feature-body small">Clean, seal, or wax hardwood, vinyl, or concrete flooring.</p>
                </div>
                            </div>           </div>         </div>
        </div>             <div class="panel panel-default" data-panel-number="2">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-2">Maintenance</a>
            </h4>
          </div>
          <div id="service-2" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">Our skilled handymen and trade specialists can complete repairs, make improvements, and conduct office inspections.</p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Plumbing repair and installation</h4>
                  <p class="feature-body small">Toilet, sink, and hot water heater repair or replacement, and system upgrades.</p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">Mounting and hanging</h4>
                  <p class="feature-body small">Televisions, art, shelving, whiteboards, curtains, soundproofing, and more.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Painting</h4>
                  <p class="feature-body small">Interior or exterior painting and touch-ups and painted whiteboard walls. </p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">Electrical repair and installation</h4>
                  <p class="feature-body small">Lighting, outlet, and wiring upgrades, installation, repair, and replacements. </p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">Appliance service and repair</h4>
                  <p class="feature-body small">Regular service visits, part replacement, cleaning, and troubleshooting.</p>
                </div>
                              <div class="feature feature-6">
                  <h4 class="feature-headline">HVAC service and repair</h4>
                  <p class="feature-body small">System inspection, cleaning, and part replacement.</p>
                </div>
                            </div>           </div>         </div>
        </div>             <div class="panel panel-default" data-panel-number="3">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-3">Extra Help</a>
            </h4>
          </div>
          <div id="service-3" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">Our office helpers and assistants offer daytime support around the office for everyday tasks or individual projects. </p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Furniture assembly</h4>
                  <p class="feature-body small">Build and set up desks, chairs, shelving, cabinets, tables, and workstations.
  </p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">Unpacking and stocking</h4>
                  <p class="feature-body small">Unload, inventory, and stock office supplies, pantry items, and groceries.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Moving boxes or furniture</h4>
                  <p class="feature-body small">Pack, move, and set up office electronics, personal items, and furniture.</p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">Organization</h4>
                  <p class="feature-body small">Tidy supply closets, pantries, kitchen areas, conference rooms, or the entire office.</p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">Lightbulb replacement</h4>
                  <p class="feature-body small">Replace indoor or outdoor fixtures, no matter how high.
  </p>
                </div>
                              <div class="feature feature-6">
                  <h4 class="feature-headline">Plant care</h4>
                  <p class="feature-body small">Maintain office plants, including watering, re-potting, and installation.</p>
                </div>
                            </div>           </div>         </div>
        </div>             <div class="panel panel-default" data-panel-number="4">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-4">IT and Security</a>
            </h4>
          </div>
          <div id="service-4" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">Access technology support for your office networks and hardware systems, as well as your digital and physical security.</p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Internet setup and support</h4>
                  <p class="feature-body small">Configure new networks, troubleshoot issues, and solve for slow connections.</p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">IT security</h4>
                  <p class="feature-body small">Set up company VPN, install or upgrade anti-virus software and firewalls, and more.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Phone systems </h4>
                  <p class="feature-body small">Set up new systems, connect to existing networks, and troubleshoot issues.</p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">Security systems and cameras</h4>
                  <p class="feature-body small">Install, repair, or replace access control hardware and alarm systems.</p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">Locksmith service</h4>
                  <p class="feature-body small">Provide emergency access, secure entry points, re-key doors, and install new locks.</p>
                </div>
                            </div>           </div>         </div>
        </div>             <div class="panel panel-default" data-panel-number="5">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-5">Office Relocation</a>
            </h4>
          </div>
          <div id="service-5" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">Coordinating an office move involves plenty of moving parts. Let Q do some of the heavy lifting. </p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Moving service</h4>
                  <p class="feature-body small">Safe and secure transportation of furniture, boxes, electronics, and office items.</p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">Packing and unpacking</h4>
                  <p class="feature-body small">Prepare boxes and furniture to be moved and unpack items upon arrival.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Furniture assembly</h4>
                  <p class="feature-body small">Build and set up workstations, cabinets, shelving, and more.
  </p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">General contracting</h4>
                  <p class="feature-body small">Custom furniture or office design and construction.</p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">IT and security installation</h4>
                  <p class="feature-body small">Set up phone systems, personal computers, internet, alarm systems, and more.</p>
                </div>
                              <div class="feature feature-6">
                  <h4 class="feature-headline">Brokerage</h4>
                  <p class="feature-body small">Get help sourcing temporary or permanent office space.</p>
                </div>
                            </div>           </div>         </div>
        </div>             <div class="panel panel-default" data-panel-number="6">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" href="#service-6">Administrative Support</a>
            </h4>
          </div>
          <div id="service-6" class="panel-collapse collapse">
            <div class="panel-body ">
              <p class="block-subheadline">When you need some extra hands around the office, Q can help source and place both temporary and long-term support.</p>
              <div class="service-category-features">
                              <div class="feature feature-1">
                  <h4 class="feature-headline">Receptionist</h4>
                  <p class="feature-body small">Receive and greet guests, manage phone systems, accept packages, and more.</p>
                </div>
                              <div class="feature feature-2">
                  <h4 class="feature-headline">Office Manager</h4>
                  <p class="feature-body small">Space management, snack and supply ordering, employee support, and more.</p>
                </div>
                              <div class="feature feature-3">
                  <h4 class="feature-headline">Office Assistant</h4>
                  <p class="feature-body small">Kitchen and supply stocking, reception support, organization and filing, and more.
  </p>
                </div>
                              <div class="feature feature-4">
                  <h4 class="feature-headline">Executive Assistant</h4>
                  <p class="feature-body small">Manage executive schedules, book travel, coordinate meetings, and more.</p>
                </div>
                              <div class="feature feature-5">
                  <h4 class="feature-headline">Data Entry Clerk</h4>
                  <p class="feature-body small">Data entry, deduplication, cleanup, verification, and more.</p>
                </div>
                            </div>           </div>         </div>
        </div>           </div> 
      <div class="service-index-wrapper row">

        <div class="service-index-tabs">
          <article class="tab-container">
            <nav class="service-index-nav tab-nav">
              <div class="wrapper">
                                <a class="index-nav-link" href="#category-1" title="Cleaning" id="1" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-1" data-category-number="#category-1" tab-index="-1">
                    Cleaning
                  </a>
                                <a class="index-nav-link" href="#category-2" title="Maintenance" id="2" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-2" data-category-number="#category-2" tab-index="-1">
                    Maintenance
                  </a>
                                <a class="index-nav-link" href="#category-3" title="Extra Help" id="3" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-3" data-category-number="#category-3" tab-index="-1">
                    Extra Help
                  </a>
                                <a class="index-nav-link" href="#category-4" title="IT and Security" id="4" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-4" data-category-number="#category-4" tab-index="-1">
                    IT and Security
                  </a>
                                <a class="index-nav-link" href="#category-5" title="Office Relocation" id="5" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-5" data-category-number="#category-5" tab-index="-1">
                    Office Relocation
                  </a>
                                <a class="index-nav-link" href="#category-6" title="Administrative Support" id="6" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#category-6" data-category-number="#category-6" tab-index="-1">
                    Administrative Support
                  </a>
                            </div>
            </nav>

            <div class="service-index-content tab-pane-container">
                            <section class="service-category active" id="category-1">
                  <h3 class="block-headline">Cleaning</h3>
                  <p class="block-subheadline">Shared spaces get dirty fast. That’s why we offer regular and one-time cleaning sessions for all your mess-related needs.</p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Ongoing cleaning</h4>
                        <p class="feature-body small">Recurring office cleaning sessions, starting at four hours a week.</p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">Deep cleaning</h4>
                        <p class="feature-body small">Intensive office cleaning sessions aimed to sanitize and clean hard-to-reach areas.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Trash hauling</h4>
                        <p class="feature-body small">Daily or weekly garbage disposal and specialty junk removal.</p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">Carpet and upholstery cleaning</h4>
                        <p class="feature-body small">Spot treatment or deep cleaning of fabric furniture, rugs, and carpeting.</p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">Window washing</h4>
                        <p class="feature-body small">Interior and exterior window cleaning in high- or low-rise buildings.</p>
                      </div>
                                          <div class="feature feature-6">
                        <h4 class="feature-headline">Floor buffing</h4>
                        <p class="feature-body small">Clean, seal, or wax hardwood, vinyl, or concrete flooring.</p>
                      </div>
                                        </div>
                  </div>               </section>                           <section class="service-category " id="category-2">
                  <h3 class="block-headline">Maintenance</h3>
                  <p class="block-subheadline">Our skilled handymen and trade specialists can complete repairs, make improvements, and conduct office inspections.</p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Plumbing repair and installation</h4>
                        <p class="feature-body small">Toilet, sink, and hot water heater repair or replacement, and system upgrades.</p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">Mounting and hanging</h4>
                        <p class="feature-body small">Televisions, art, shelving, whiteboards, curtains, soundproofing, and more.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Painting</h4>
                        <p class="feature-body small">Interior or exterior painting and touch-ups and painted whiteboard walls. </p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">Electrical repair and installation</h4>
                        <p class="feature-body small">Lighting, outlet, and wiring upgrades, installation, repair, and replacements. </p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">Appliance service and repair</h4>
                        <p class="feature-body small">Regular service visits, part replacement, cleaning, and troubleshooting.</p>
                      </div>
                                          <div class="feature feature-6">
                        <h4 class="feature-headline">HVAC service and repair</h4>
                        <p class="feature-body small">System inspection, cleaning, and part replacement.</p>
                      </div>
                                        </div>
                  </div>               </section>                           <section class="service-category " id="category-3">
                  <h3 class="block-headline">Extra Help</h3>
                  <p class="block-subheadline">Our office helpers and assistants offer daytime support around the office for everyday tasks or individual projects. </p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Furniture assembly</h4>
                        <p class="feature-body small">Build and set up desks, chairs, shelving, cabinets, tables, and workstations.
  </p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">Unpacking and stocking</h4>
                        <p class="feature-body small">Unload, inventory, and stock office supplies, pantry items, and groceries.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Moving boxes or furniture</h4>
                        <p class="feature-body small">Pack, move, and set up office electronics, personal items, and furniture.</p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">Organization</h4>
                        <p class="feature-body small">Tidy supply closets, pantries, kitchen areas, conference rooms, or the entire office.</p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">Lightbulb replacement</h4>
                        <p class="feature-body small">Replace indoor or outdoor fixtures, no matter how high.
  </p>
                      </div>
                                          <div class="feature feature-6">
                        <h4 class="feature-headline">Plant care</h4>
                        <p class="feature-body small">Maintain office plants, including watering, re-potting, and installation.</p>
                      </div>
                                        </div>
                  </div>               </section>                           <section class="service-category " id="category-4">
                  <h3 class="block-headline">IT and Security</h3>
                  <p class="block-subheadline">Access technology support for your office networks and hardware systems, as well as your digital and physical security.</p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Internet setup and support</h4>
                        <p class="feature-body small">Configure new networks, troubleshoot issues, and solve for slow connections.</p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">IT security</h4>
                        <p class="feature-body small">Set up company VPN, install or upgrade anti-virus software and firewalls, and more.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Phone systems </h4>
                        <p class="feature-body small">Set up new systems, connect to existing networks, and troubleshoot issues.</p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">Security systems and cameras</h4>
                        <p class="feature-body small">Install, repair, or replace access control hardware and alarm systems.</p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">Locksmith service</h4>
                        <p class="feature-body small">Provide emergency access, secure entry points, re-key doors, and install new locks.</p>
                      </div>
                                        </div>
                  </div>               </section>                           <section class="service-category " id="category-5">
                  <h3 class="block-headline">Office Relocation</h3>
                  <p class="block-subheadline">Coordinating an office move involves plenty of moving parts. Let Q do some of the heavy lifting. </p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Moving service</h4>
                        <p class="feature-body small">Safe and secure transportation of furniture, boxes, electronics, and office items.</p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">Packing and unpacking</h4>
                        <p class="feature-body small">Prepare boxes and furniture to be moved and unpack items upon arrival.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Furniture assembly</h4>
                        <p class="feature-body small">Build and set up workstations, cabinets, shelving, and more.
  </p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">General contracting</h4>
                        <p class="feature-body small">Custom furniture or office design and construction.</p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">IT and security installation</h4>
                        <p class="feature-body small">Set up phone systems, personal computers, internet, alarm systems, and more.</p>
                      </div>
                                          <div class="feature feature-6">
                        <h4 class="feature-headline">Brokerage</h4>
                        <p class="feature-body small">Get help sourcing temporary or permanent office space.</p>
                      </div>
                                        </div>
                  </div>               </section>                           <section class="service-category " id="category-6">
                  <h3 class="block-headline">Administrative Support</h3>
                  <p class="block-subheadline">When you need some extra hands around the office, Q can help source and place both temporary and long-term support.</p>
                  <div class="service-category-features">
                    <div class="features-row row">
                                          <div class="feature feature-1">
                        <h4 class="feature-headline">Receptionist</h4>
                        <p class="feature-body small">Receive and greet guests, manage phone systems, accept packages, and more.</p>
                      </div>
                                          <div class="feature feature-2">
                        <h4 class="feature-headline">Office Manager</h4>
                        <p class="feature-body small">Space management, snack and supply ordering, employee support, and more.</p>
                      </div>
                                          <div class="feature feature-3">
                        <h4 class="feature-headline">Office Assistant</h4>
                        <p class="feature-body small">Kitchen and supply stocking, reception support, organization and filing, and more.
  </p>
                      </div>
                                          <div class="feature feature-4">
                        <h4 class="feature-headline">Executive Assistant</h4>
                        <p class="feature-body small">Manage executive schedules, book travel, coordinate meetings, and more.</p>
                      </div>
                                          <div class="feature feature-5">
                        <h4 class="feature-headline">Data Entry Clerk</h4>
                        <p class="feature-body small">Data entry, deduplication, cleanup, verification, and more.</p>
                      </div>
                                        </div>
                  </div>               </section>                       </div>
          </article>
        </div>     </div>   </div> 
  </div> 

  <div class="block block-testimonials">
    <div class="block-header center">
      <h3 class="block-headline">Hear what office managers have to say</h3>
      <p class="block-subheadline">Learn how Q has helped office operations teams save time and stay focused.</p>
    </div>

    <div class="testimonials-carousel carousel">
                  <div class="customer-quote customer-quote-card customer-quote-testimonial card-">
          <div class="card-wrapper">
            <div class="customer-quote-media">
                            <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Testimonial.jpg);"></span>
                        </div>
            <div class="customer-quote-content">
              <div class="content-wrapper">
                <h3 class="customer-quote-quote">Q has enabled me to tackle all the tasks I had put off because I didn’t have time to complete them.</h3>
                <h4 class="customer-quote-person">- Jennifer at Staples</h4>
              </div>
                            <a class="customer-quote-cta inline-link" href="/customer-stories/staples-print-facility">Read Story &rarr;</a>
                        </div>
          </div>
        </div>
                  <div class="customer-quote customer-quote-card customer-quote-testimonial card-">
          <div class="card-wrapper">
            <div class="customer-quote-media">
                            <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/story-bond-street-zac-19.jpg);"></span>
                        </div>
            <div class="customer-quote-content">
              <div class="content-wrapper">
                <h3 class="customer-quote-quote">Q is there within the blink of an eye for whatever we need, and that’s really helpful.</h3>
                <h4 class="customer-quote-person">- Zac at Bond Street</h4>
              </div>
                            <a class="customer-quote-cta inline-link" href="/customer-stories/bond-street">Read Story &rarr;</a>
                        </div>
          </div>
        </div>
                  <div class="customer-quote customer-quote-card customer-quote-testimonial card-">
          <div class="card-wrapper">
            <div class="customer-quote-media">
                            <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/customer-headshot-13.jpg);"></span>
                        </div>
            <div class="customer-quote-content">
              <div class="content-wrapper">
                <h3 class="customer-quote-quote">Q has given me time back in my day to focus on high-priority tasks. It’s great I can call on an expert to paint or hang shelves so I can focus elsewhere.</h3>
                <h4 class="customer-quote-person">- Jordan at charity: water</h4>
              </div>
                            <a class="customer-quote-cta inline-link" href="/customer-stories/charity-water">Read Story &rarr;</a>
                        </div>
          </div>
        </div>
                  <div class="customer-quote customer-quote-card customer-quote-testimonial card-">
          <div class="card-wrapper">
            <div class="customer-quote-media">
                            <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/story-seatgeek-headshot-6.jpg);"></span>
                        </div>
            <div class="customer-quote-content">
              <div class="content-wrapper">
                <h3 class="customer-quote-quote">Managed by Q has been phenomenal for last-minute, ad hoc projects. It’s amazing to work with Q and have someone they have sourced to come in within a few hours when it would usually take a week with other services.</h3>
                <h4 class="customer-quote-person">- Fernando at SeatGeek</h4>
              </div>
                            <a class="customer-quote-cta inline-link" href="/customer-stories/seatgeek">Read Story &rarr;</a>
                        </div>
          </div>
        </div>
        </div>
  </div>
  <div class="block block-solutions-promo">
    <div class="inner">
                            <div class="solution solution-services">
                    <img class="solution-thumb" src="https://managedbyq.objects.frb.io/Other-Solutions-People.jpg">
                  <h4 class="solution-headline">The people behind the projects</h4>
          <a class="inline-link" href="/people">Learn About Q's People &rarr;</a>
        </div>
                        <div class="solution solution-services">
                    <img class="solution-thumb" src="https://managedbyq.objects.frb.io/Other-Solutions-Technology.jpg">
                  <h4 class="solution-headline"> The platform for office management</h4>
          <a class="inline-link" href="/technology">Learn About Q's Technology &rarr;</a>
        </div>
              </div>
  </div>
  <div class="block block-split block-sales-promo media-right">
    <div class="block-split-media">
      <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
      <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
    </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <div class="block-header">
          <h2 class="block-headline">Ready for a more productive office?</h2>
          <p class="block-subheadline">Create a workspace your team will love. We’ll work with you to develop a custom plan based on your office needs.</p>
        </div>
        <ul class="feature-list feature-list-inline">
                    <li><h5>No contracts or long-term commitments</h5></li>
                    <li><h5>100% satisfaction guarantee</h5></li>
                    <li><h5>Easy-to-use technology</h5></li>
                </ul>
        <a class="btn btn-primary" href="/signup">Get In Touch</a>
      </div>
    </div>
  </div>
</div>