<div class="page page-story">
  <div class="story-hero unit-hero-secondary">
    <div class="hero-content">
      <h2 class="hero-headline">Our Story</h2>
      <p class="hero-subheadline">We’ve come a long way in a short time. From manually scheduling our first few cleaning sessions to powering thousands of offices nationwide, we’re excited to create bright futures for offices everywhere.</p>
    </div>
  </div>

  <div class="page-body page-body-company">

  <!--   <div class="block story-intro">
      <blockquote class="big">“We’ve been deliberate in building a company that prioritizes investing in both the future and our Operators.”</blockquote>
      <h5>Dan Teran, CEO</h5>
    </div>
   -->

    <div class="story-features">
                        <div class="block block-split story-feature media-right">
          <div class="block-split-content">
            <div class="content-wrapper">
              <h3 class="block-headline">Humble beginnings</h3>
              <div class="block-subheadline"><p>In 2014, from a small room above a garment factory in New York City's Chinatown, we set out to make the world work better. With a vision to create an operating system for offices, we got to work. To start, we focused on the core needs of office managers—cleaning, maintenance, and supplies. Eyes on the horizon, we learned that to succeed, <a href="https://medium.com/do-not-erase/everybody-cleans-58d7dcaa9ef#.1es75qcjy" target="_blank">everybody cleans</a>.</p></div>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Story-Block-1-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-1-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-1-Desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split story-feature media-left">
          <div class="block-split-content">
            <div class="content-wrapper">
              <h3 class="block-headline">Mission driven</h3>
              <div class="block-subheadline"><p>Making the world work better doesn’t just mean making offices run smoothly—it means empowering our Operators and Partners and ensuring they're included in our success. So as we continued to grow, we worked hard to bring the Good Jobs Strategy to life. In early 2016, we announced a commitment to give 5% of the company to our Q service providers over the next five years, receiving praise from <a href="http://mitsloan.mit.edu/newsroom/articles/new-case-study-examines-good-jobs-and-growth-at-managed-by-q/" target="_blank">MIT</a> to the <a href="https://medium.com/@ManagedbyQ/when-every-operator-s-an-owner-2e6bdb246c98#.4v79t6o3z" target="_blank">Department of Labor</a>.</p></div>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Story-Block-2-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-2-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-2-Desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split story-feature media-right">
          <div class="block-split-content">
            <div class="content-wrapper">
              <h3 class="block-headline">Deepened commitment</h3>
              <div class="block-subheadline"><p>As we expanded to new markets and began serving more than 1,000 offices nationwide, we came to more intimately understand the needs of an office operations team and deepened our desire to make it easy to run an office. We built an amazing network of highly qualified local service providers and launched a private beta of the Q Marketplace in 2016. From pest control to electrical repair, Q can manage it.</p></div>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Story-Block-3-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-3-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-3-Desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split story-feature media-left">
          <div class="block-split-content">
            <div class="content-wrapper">
              <h3 class="block-headline">A brilliant future</h3>
              <div class="block-subheadline"><p>We set out to build much more than a service company, and our team is hard at work bringing that vision to life today. Beyond connecting offices with service providers, we're building a platform that will integrate with third party hardware and software to create an operating system for the working world.</p></div>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Story-Block-4-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-4-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Story-Block-4-Desktop.jpg);"></div>
                    </div>
        </div>
        </div>

    <div class="block block-3-up story-values">
      <div class="block-header center">
        <h2 class="block-headline">Our values</h2>
      </div>
      <div class="features-row row">
                        <div class="feature feature-1">
                        <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-values-transparency@2x.png);"></span>
                      <h4 class="feature-headline">Transparency</h4>
            <p class="feature-body small"></p>
          </div>
                        <div class="feature feature-2">
                        <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-values-community@2x.png);"></span>
                      <h4 class="feature-headline">Community</h4>
            <p class="feature-body small"></p>
          </div>
                        <div class="feature feature-3">
                        <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-values-integrity@2x.png);"></span>
                      <h4 class="feature-headline">Integrity</h4>
            <p class="feature-body small"></p>
          </div>
                        <div class="feature feature-4">
                        <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-values-optimism@2x.png);"></span>
                      <h4 class="feature-headline">Optimism</h4>
            <p class="feature-body small"></p>
          </div>
                        <div class="feature feature-5">
                        <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-values-innovation@2x.png);"></span>
                      <h4 class="feature-headline">Innovation</h4>
            <p class="feature-body small"></p>
          </div>
            </div>
    </div>

  </div>


  <div class="block story-press-feed press-feed">
    <div class="block-header">
      <h2>In the press</h2>
    </div>
    <div class="feed">
                  <div class="press-post">
          <a class="click-wrapper" href="https://www.fastcompany.com/40477488/how-managed-by-q-is-helping-companies-live-their-values" target="blank">
            <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-fastcompany@2x.png)"></span>
            <h4 class="post-headline">How Managed By Q Is Helping Companies Live Their Values</h4>
            <span class="inline-link">View Article &rarr;</span>
          </a>
        </div>
                  <div class="press-post">
          <a class="click-wrapper" href="https://techcrunch.com/2017/09/26/managed-by-q-the-office-management-system-acquires-hivy/" target="blank">
            <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-techcrunch@2x.png)"></span>
            <h4 class="post-headline">Managed By Q, the office management system, acquires Hivy</h4>
            <span class="inline-link">View Article &rarr;</span>
          </a>
        </div>
                  <div class="press-post">
          <a class="click-wrapper" href="https://commercialobserver.com/2017/09/office-services-provider-managed-by-q-acquires-french-task-platform-hivy/" target="blank">
            <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Commercial-Observer-Logo-BW.png)"></span>
            <h4 class="post-headline">Office Services Provider Managed by Q Acquires French Task&hellip;</h4>
            <span class="inline-link">View Article &rarr;</span>
          </a>
        </div>
        </div>
    <a class="btn btn-secondary" href="/press">View More Press</a>
  </div>

</div>