<div class="page page-technology"> 
  <div class="unit-hero">
    <div class="hero-media">
            <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/Technology-Header-Mobile.jpg);"></div>
                <div class="hero-media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Technology-Header-Desktop.jpg);"></div>
        <div class="hero-media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Technology-Header-Desktop.jpg);"></div>
        </div>
  </div>

  <div class="page-body page-body-unit">
    <div class="technology-intro block block-unit-intro">
      <h3 class="block-headline">The platform for office management</h3>
      <p class="block-subheadline">Q&#039;s technology simplifies daily operations by putting everything you need in one place.</p>
    </div>

    <div class="technology-features">
                        <div class="block block-split technology-feature technology-feature-1 media-left">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_techFeatureOneMobile2x/tools_for_business@2x.png);"></div>
                                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/tools_for_business@2x.png);"></div>
                <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/tools_for_business@2x.png);"></div>
                                </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">For offices</h2>
              <p class="block-subheadline">A solution for office operations designed to save you time.</p>
                            <div class="technology-feature-features">
                  <div class="row">
                                        <div class="feature feature-1">
                        <h4 class="feature-title">Office services catalog</h4>
                        <p class="feature-body small">Access our marketplace of office services to meet any need.</p>
                      </div>
                                        <div class="feature feature-2">
                        <h4 class="feature-title">Budget-friendly</h4>
                        <p class="feature-body small">Multiple quotes allow you to choose what's best for your office.</p>
                      </div>
                                        <div class="feature feature-3">
                        <h4 class="feature-title">Real-time support</h4>
                        <p class="feature-body small">Message our team through your dashboard for timely assistance.</p>
                      </div>
                                        <div class="feature feature-4">
                        <h4 class="feature-title">No more paperwork</h4>
                        <p class="feature-body small">Centralized billing keeps you on your finance team's good side.</p>
                      </div>
                                        <div class="feature feature-5">
                        <h4 class="feature-title">Request management <sup>BETA</sup> </h4>
                        <p class="feature-body small">Collect all of your employees' asks right in your dashboard.</p>
                      </div>
                                    </div>
                </div>
                                        <div class="block-cta">
                  <a class="inline-link" href="/signup">Learn More &rarr;</a>
                </div>
                        </div>
          </div>
        </div>
                        <div class="block block-split technology-feature technology-feature-2 media-right">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_techFeatureOneMobile2x/tools_for_workplace@2x.png);"></div>
                                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/tools_for_workplace@2x.png);"></div>
                <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/tools_for_workplace@2x.png);"></div>
                                </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">For service providers</h2>
              <p class="block-subheadline">We&#039;re developing tools for you to grow your business.</p>
                            <div class="technology-feature-features">
                  <div class="row">
                                        <div class="feature feature-1">
                        <h4 class="feature-title">Book of business</h4>
                        <p class="feature-body small">Win new clients through Q's request for quote system.</p>
                      </div>
                                        <div class="feature feature-2">
                        <h4 class="feature-title">Seamless scheduling</h4>
                        <p class="feature-body small">Autoschedule jobs based on your workforce's availability.</p>
                      </div>
                                        <div class="feature feature-3">
                        <h4 class="feature-title">Project details</h4>
                        <p class="feature-body small">Communicate tasks to your team quickly and clearly. </p>
                      </div>
                                        <div class="feature feature-4">
                        <h4 class="feature-title">Actionable reporting</h4>
                        <p class="feature-body small">Review customer data to identify new opportunities for growth. </p>
                      </div>
                                    </div>
                </div>
                                        <div class="block-cta">
                  <a class="inline-link" href="/partners/">Become A Partner  &rarr;</a>
                </div>
                        </div>
          </div>
        </div>
                        <div class="block block-split technology-feature technology-feature-3 media-left">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_techFeatureOneMobile2x/Technology-Block-3-Mobile.jpg);"></div>
                                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Technology-Block-3-Desktop.jpg);"></div>
                <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Technology-Block-3-Desktop.jpg);"></div>
                                </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">Manage your properties</h2>
              <p class="block-subheadline">Q is expanding its tenant services to optimize maintenance for building managers. Join our waitlist to be one of the first commercial properties powered by Q.</p>
                                        <div class="block-cta">
                  <a class="inline-link" href="/contact#property-manager">Join Waitlist &rarr;</a>
                </div>
                        </div>
          </div>
        </div>
        </div>
  </div>


  <div class="block block-solutions-promo">
    <div class="inner">
      <div class="solution solution-services">
        <img class="solution-thumb" src="/assets/images/Other-Solutions-Services.jpg">
        <h4 class="solution-headline">The services that keep your office running</h4>
        <a class="inline-link" href="/services">Learn about Q’s Office Services &rarr;</a>
      </div>
      <div class="solution solution-services">
        <img class="solution-thumb" src="/assets/images/Other-Solutions-People.jpg">
        <h4 class="solution-headline">The people behind the projects</h4>
        <a class="inline-link" href="/people">Learn About Q's People &rarr;</a>
      </div>
    </div>
  </div>
  
  <div class="block block-split block-sales-promo media-right">
    <div class="block-split-media">
      <div class="media-image mobile" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
      <div class="media-image desktop" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      <div class="media-image desktop retina" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
    </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <div class="block-header">
          <h2 class="block-headline">Ready for a more productive office?</h2>
          <p class="block-subheadline">Create a workspace your team will love. We’ll work with you to develop a custom plan based on your office needs.</p>
        </div>
        <ul class="feature-list feature-list-inline">
                    <li><h5>No contracts or long-term commitments</h5></li>
                    <li><h5>100% satisfaction guarantee</h5></li>
                    <li><h5>Easy-to-use technology</h5></li>
                </ul>
        <a class="btn btn-primary" href="/signup">Get In Touch</a>
      </div>
    </div>
  </div>
</div>