<div class="page page-people">
  <div class="unit-hero">
    <div class="hero-media">
            <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/People-Header-Mobile.jpg);"></div>
                <div class="hero-media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/People-Header-Desktop.jpg);"></div>
        <div class="hero-media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/People-Header-Desktop.jpg);"></div>
        </div>
  </div>

  <div class="page-body page-body-unit">

    <div class="people-intro block block-unit-intro">
      <h3 class="block-headline">Your kind of people</h3>
      <p class="block-subheadline">Our team of office specialists know how to treat a workspace right.</p>
    </div>

    <div class="people-features">
                        <div class="block block-split people-feature people-feature-1 media-left">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Vi-mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Vi-desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Vi-desktop.jpg);"></div>
                    </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">Your support system</h2>
              <p class="block-subheadline">Have questions? Need someone at your office in the next two hours? Q&#039;s customer service team is always at the ready.</p>
                          <ul class="feature-list feature-list-inline">
                                <li><h5>Dedicated support team</h5></li>
                                <li><h5>Quick response times</h5></li>
                                <li><h5>Satisfaction guarantee</h5></li>
                            </ul>
                                    </div>
          </div>
        </div>
                        <div class="block block-split people-feature people-feature-2 media-right">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/People-Block-2-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/People-Block-2-Vasaun-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/People-Block-2-Vasaun-Desktop.jpg);"></div>
                    </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">Experienced Q Operators</h2>
              <p class="block-subheadline">Our cleaning, maintenance, and assistant teams learn the ins and outs of your space to provide the best service for your office.  </p>
                          <ul class="feature-list feature-list-inline">
                                <li><h5>Full-time W2 employees</h5></li>
                                <li><h5>Certified, bonded, and insured</h5></li>
                                <li><h5>Highly trained by Q</h5></li>
                            </ul>
                                    </div>
          </div>
        </div>
                        <div class="block block-split people-feature people-feature-3 media-left">
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/People-Block-3-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/People-Block-3-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/People-Block-3-Desktop.jpg);"></div>
                    </div>
          <div class="block-split-content">
            <div class="content-wrapper">
              <h2 class="block-headline">The best local service providers</h2>
              <p class="block-subheadline">We&#039;ve built an extensive partner network to meet all your specialty office needs—from window washing to HVAC installation.</p>
                          <ul class="feature-list feature-list-inline">
                                <li><h5>Experts in their field</h5></li>
                                <li><h5>Competitive pricing</h5></li>
                                <li><h5>Vetted and insured</h5></li>
                            </ul>
                                    </div>
          </div>
        </div>
        </div>
  </div>


  <div class="block block-solutions-promo">
    <div class="inner">
                  <div class="solution solution-services">
                    <img class="solution-thumb" src="/assets/images/Other-Solutions-Services.jpg">
                  <h4 class="solution-headline">The services that keep your office running</h4>
          <a class="inline-link" href="/services">Learn about Q’s Office Services &rarr;</a>
        </div>
                                  <div class="solution solution-services">
                    <img class="solution-thumb" src="/assets/images/Other-Solutions-Technology.jpg">
                  <h4 class="solution-headline"> The platform for office management</h4>
          <a class="inline-link" href="/technology">Learn About Q's Technology &rarr;</a>
        </div>
              </div>
  </div>
  <div class="block block-split block-sales-promo media-right">
    <div class="block-split-media">
      <div class="media-image mobile" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
      <div class="media-image desktop" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      <div class="media-image desktop retina" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
    </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <div class="block-header">
          <h2 class="block-headline">Ready for a more productive office?</h2>
          <p class="block-subheadline">Create a workspace your team will love. We’ll work with you to develop a custom plan based on your office needs.</p>
        </div>
        <ul class="feature-list feature-list-inline">
                    <li><h5>No contracts or long-term commitments</h5></li>
                    <li><h5>100% satisfaction guarantee</h5></li>
                    <li><h5>Easy-to-use technology</h5></li>
                </ul>
        <a class="btn btn-primary" href="/signup">Get In Touch</a>
      </div>
    </div>
  </div>
</div>