<div class="page page-customer-story">
    
<div class="customer-story-hero unit-hero unit-hero-secondary">
  <div class="hero-media">
          <div class="hero-media-image mobile" style="background-image: url(/assets/images/story-bond-street-header-mobile.jpg);"></div>
              <div class="hero-media-image desktop" style="background-image: url(/assets/images/story-bond-street-header-7.jpg);"></div>
      <div class="hero-media-image desktop retina" style="background-image: url(/assets/images/story-bond-street-header-7.jpg);"></div>
      </div>

  <div class="hero-content">
    <h5 class="hero-tag">Customer Story</h5>
    <h2 class="hero-headline">Bond Street</h2>
    <p class="hero-subheadline">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
  </div>

  <div class="customer-story-header-stats">
    <div class="row">
              <div class="stat-section">
          <h5 class="stat-label">Industry</h5>
          <h4 class="stat-value">Commercial lending</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Staff</h5>
          <h4 class="stat-value">30 Employees</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Size</h5>
          <h4 class="stat-value">4,000 Sq. Ft.</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Key Service</h5>
          <h4 class="stat-value">Cleaning and Maintenance</h4>
        </div>
          </div>
  </div>
</div> 
<div class="customer-story-body">
  <div class="inner">

    <div class="story-precede">
      <div class="story-bio">
                  <img class="story-bio-thumb" src="/assets/images/bondstreet-desktop.jpg" alt="">
                <p class="story-bio-copy small">Zac is the Community Manager at Bond Street in charge of ensuring a great office environment for its employees and customers.</p>
      </div>
    </div>

                    <div class="story-block story-block-intro">
            <div class="text">
              <h3>A clean office makes a happy team at Bond Street</h3>
              <p>Bond Street is an NYC-based small business lender that’s changing the way small businesses receive loans through technology, data, and design. As they work to create the best possible customer experience for their borrowers, Community Manager Zac works to create the best office environment and employee experience for the team. <br /><br />Bond Street relies on Managed by Q for day-to-day cleaning and maintenance services. Zac loves the friendly and prompt service of Q’s Operators who are, “willing to do everything and anything to make sure the office is running smoothly.”</p>
            </div>

            <aside>
              <blockquote>&ldquo;Q is there within the blink of an eye for whatever we need, and that’s really helpful.&rdquo;</blockquote>
            </aside>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="/assets/images/story-bond-street-photo-wide-2.jpg" alt="">
                <img class="desktop" src="/assets/images/story-bond-street-photo-wide-2.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;Whenever we need a helping hand Q is the first person we think of.&rdquo;</blockquote>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> How does working with Managed by Q make your job easier? <br /><br /><strong>A:</strong> Managed by Q is a natural extension of our team—in fact, they feel like part of our family. The needs of our office upkeep are constantly changing and Q is there within the blink of an eye. </p>
<p>Doug, our handyman from Q, is unbelievable. He is the best and so willing to do everything and anything to make sure the office is running smoothly.<br /><br />On top of that, Hannah, our account manger, is incredibly helpful. If there’s an issue in our office, whether something needs to be fixed ASAP or we need help cleaning after a party with short notice, she’s always willing to help.<br /><br /><strong><br /></strong></p>
<p><strong>Q:</strong> How does Q’s technology help you work more efficiently? <br /><br /><strong>A:</strong> I like that it’s one-and-done for ordering supplies. If I’m in a rush I can leave a note for our Operator to take care of it or I can just click on the Q Dashboard and then I can forget about it and it shows up here, like magic.</p>
            </div>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="/assets/images/story-bond-street-photo-tall-3.jpg" alt="">
                <img class="desktop left" src="/assets/images/story-bond-street-photo-tall-3.jpg" alt="">
                                            <img class="mobile right" src="/assets/images/story-bond-street-photo-tall-4.jpg" alt="">
                <img class="desktop right" src="/assets/images/story-bond-street-photo-tall-4.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> What are some instances when you have relied on specialty services that Q offers? <br /><br /><strong>A:</strong> We worked with Q to plan and clean up after our holiday party, which we held in our office. It was a breeze. Usually after parties I’m staying late moving furniture and making sure the space is ready for the work day next day, but with the help of Q I was able to socialize and enjoy the party. <br /><br />In addition, we’re a pet-friendly office and sometimes they leave a mess in one of our conference rooms. Q has helped us arrange carpet deep cleans to keep the space fresh. </p>
<p><br /><br /><strong>Q:</strong> How has Managed by Q impacted how your office and team work? <br /><br /><strong>A:</strong> A clean office equals a happy team. Whenever we need a helping hand Q is the first person we think of. Working with Q has been superb.</p>
            </div>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="/assets/images/story-bond-street-photo-tall-9.jpg" alt="">
                <img class="desktop left" src="/assets/images/story-bond-street-photo-tall-9.jpg" alt="">
                                            <img class="mobile right" src="/assets/images/story-bond-street-photo-tall-10.jpg" alt="">
                <img class="desktop right" src="/assets/images/story-bond-street-photo-tall-10.jpg" alt="">
                                        </div>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="/assets/images/story-bond-street-photo-wide-1.jpg" alt="">
                <img class="desktop" src="/assets/images/story-bond-street-photo-wide-1.jpg" alt="">
                                        </div>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="/assets/images/story-bond-street-photo-tall-13.jpg" alt="">
                <img class="desktop left" src="/assets/images/story-bond-street-photo-tall-13.jpg" alt="">
                                            <img class="mobile right" src="/assets/images/story-bond-street-photo-tall-12.jpg" alt="">
                <img class="desktop right" src="/assets/images/story-bond-street-photo-tall-12.jpg" alt="">
                                        </div>
          </div>

            
    <div class="block block-customer-stories customer-stories-more-feed">
      <div class="block-header center">
        <h3 class="block-headline">More Customer Stories</h3>
      </div>
      <div class="customer-stories-card-carousel carousel">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

                                                            <div class="customer-stories-card-grid grid-length-3">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

      <a class="btn btn-primary" href="/customer-stories">View All Stories</a>
    </div>

  </div>
</div> <!-- .customer-story-body -->

  </div>