<div class="page page-customer-story">
    
<div class="customer-story-hero unit-hero unit-hero-secondary">
  <div class="hero-media">
          <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/customer-header-mobile.jpg);"></div>
              <div class="hero-media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/_heroSecondaryDesktop1x/customer-header-12.jpg);"></div>
      <div class="hero-media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/customer-header-12.jpg);"></div>
      </div>

  <div class="hero-content">
    <h5 class="hero-tag">Customer Story</h5>
    <h2 class="hero-headline">charity: water</h2>
    <p class="hero-subheadline">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
  </div>

  <div class="customer-story-header-stats">
    <div class="row">
              <div class="stat-section">
          <h5 class="stat-label">Industry</h5>
          <h4 class="stat-value">Nonprofit</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Staff</h5>
          <h4 class="stat-value">90 employees</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Size</h5>
          <h4 class="stat-value">22,000 Sq. Ft.</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Key Service</h5>
          <h4 class="stat-value">Event Support and Maintenance </h4>
        </div>
          </div>
  </div>
</div> 
<div class="customer-story-body">
  <div class="inner">

    <div class="story-precede">
      <div class="story-bio">
                  <img class="story-bio-thumb" src="https://managedbyq.objects.frb.io/charitywater-desktop.jpg" alt="">
                <p class="story-bio-copy small">As office manager, Jordan wears many hats. She oversaw charity: water’s office move and build-out of their new space. The office is like her baby and she treats it that way.</p>
      </div>
    </div>

                    <div class="story-block story-block-intro">
            <div class="text">
              <h3>charity: water creates high-end office experiences on a non-profit budget</h3>
              <p>charity: water’s mission is to bring clean and safe drinking water to communities around the world that don’t have access to it through fundraisers and awareness-building. The operational budget is supported by a separate pool of donors and charity: water inspires vendors to donate or discount their products and services so that charity: water can put 100% of public donations they receive towards clean water. <br /><br />Their space hosts many high-end donor events on a weekly basis, so Jordan, their office manager, uses the services on Q’s marketplace to maintain an efficient, beautiful, and cost-effective space.</p>
            </div>

            <aside>
              <blockquote>&ldquo;Q has given me time back in my day to focus on high-priority tasks. It’s great I can call on an expert to paint or hang shelves so I can focus elsewhere.&rdquo;</blockquote>
            </aside>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/story-cw-photo-wide-7.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/story-cw-photo-wide-7.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;My favorite thing about Q is how comprehensive the services are—they span the gamut of what any office experience manager would ever need.&rdquo;</blockquote>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> How does working with Managed by Q make your job easier?</p>
<p>
<strong>A:</strong> We work with Q on an as-needed basis, such as carpet cleaning, hanging shelves, or painting a room. In addition, we hold a lot of events in our space and, if we need help, call on Q for moving furniture in-and-out of the event space. It’s wonderful to have the support of Claire, our account manager. It’s a really great customer experience.  </p>
<p><strong><br /></strong></p>
<p>
<strong>Q:</strong> How does Q’s technology help you work more efficiently?  </p>
<p><strong>A:</strong> The Q Dashboard is comprehensive and does everything! I can come to Q for whatever I need and find things I didn’t even know were offered, such as event support and catering. It is well categorized and the website is beautiful and easy to use. 
As a nonprofit I’m always looking at my budget to get as much cost savings as possible. Q has always come in as reasonably priced, and they’ve been able to work with me on understanding my budget and the cost constraints that I do have.<br /></p>
            </div>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-cw-photo-tall-4.jpg" alt="">
                <img class="desktop left" src="https://managedbyq.objects.frb.io/story-cw-photo-tall-4.jpg" alt="">
                                            <img class="mobile right" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-cw-photo-tall-6.jpg" alt="">
                <img class="desktop right" src="https://managedbyq.objects.frb.io/story-cw-photo-tall-6.jpg" alt="">
                                        </div>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/story-cw-photo-wide-6.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/story-cw-photo-wide-6.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> What is your favorite aspect of Managed by Q? </p>
<p><strong>A:</strong> My favorite thing about Q is how comprehensive the services are—they span the gamut of what any office experience manager would ever need. </p>
<p>Q has given me time back in my day to focus on high-priority tasks. It’s great I can call on an expert to paint or hang shelves so I can focus elsewhere.</p>
            </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;Q has always come in as reasonably priced, and they’ve been able to work with me on understanding my budget and the cost constraints that I do have.&rdquo;</blockquote>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-cw-photo-tall-3.jpg" alt="">
                <img class="desktop left" src="https://managedbyq.objects.frb.io/story-cw-photo-tall-3.jpg" alt="">
                                            <img class="mobile right" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-cw-photo-tall.jpg" alt="">
                <img class="desktop right" src="https://managedbyq.objects.frb.io/story-cw-photo-tall.jpg" alt="">
                                        </div>
          </div>

            
    <div class="block block-customer-stories customer-stories-more-feed">
      <div class="block-header center">
        <h3 class="block-headline">More Customer Stories</h3>
      </div>
      <div class="customer-stories-card-carousel carousel">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

                                                            <div class="customer-stories-card-grid grid-length-3">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

      <a class="btn btn-primary" href="/customer-stories">View All Stories</a>
    </div>

  </div>
</div> <!-- .customer-story-body -->

  </div>