<div class="page page-customer-stories">  
  <div class="customer-stories-hero unit-hero unit-hero-secondary">
    <div class="hero-content">
      <h2 class="hero-headline">Customer Stories</h2>
      <p class="hero-subheadline">These companies use Q to save time and provide a productive, inspiring environment for their employees.</p>
    </div>
  </div>

  <div class="page-body">
    <div class="block block-customer-stories customer-stories-index-feed">
      <div class="customer-stories-card-carousel carousel">
                
  <div class="customer-quote customer-quote-card card-1">
    <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/StaplesPrint-Jen-Desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
        <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-2">
    <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/bondstreet-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Zac at Bond Street</h4>
        <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-3">
    <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
        <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-4">
    <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Jordan at charity: water</h4>
        <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
      </div>
    </a>
  </div>
            </div>

      <div class="customer-stories-card-grid">
                
  <div class="customer-quote customer-quote-card card-1">
    <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/StaplesPrint-Jen-Desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
        <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-2">
    <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/bondstreet-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Zac at Bond Street</h4>
        <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-3">
    <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
        <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
      </div>
    </a>
  </div>
                
  <div class="customer-quote customer-quote-card card-4">
    <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
      <div class="customer-quote-media">
                <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
              <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
      </div>
      <div class="customer-quote-content">
        <h4 class="customer-quote-person">Jordan at charity: water</h4>
        <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
      </div>
    </a>
  </div>
            </div>
    </div>
  </div>


  <div class="block block-split block-story-promo media-left">
    <div class="block-split-media">
            <div class="media-image mobile" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
                <div class="media-image desktop" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        <div class="media-image desktop retina" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <h2 class="block-headline">Being in the office doesn&#039;t have to feel like work.</h2>
        <p class="block-subheadline">We can help make your office a place your team will want to work in—even on Mondays.</p>
        <a class="inline-link" href="/signup">Learn More &rarr;</a>
      </div>
    </div>
  </div>
</div>