<div class="page page-customer-story">
    
<div class="customer-story-hero unit-hero unit-hero-secondary">
  <div class="hero-media">
          <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/story-seatgeek-header-mobile.jpg);"></div>
              <div class="hero-media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/_heroSecondaryDesktop1x/story-seatgeek-header-2.jpg);"></div>
      <div class="hero-media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/story-seatgeek-header-2.jpg);"></div>
      </div>

  <div class="hero-content">
    <h5 class="hero-tag">Customer Story</h5>
    <h2 class="hero-headline">SeatGeek</h2>
    <p class="hero-subheadline">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
  </div>

  <div class="customer-story-header-stats">
    <div class="row">
              <div class="stat-section">
          <h5 class="stat-label">Industry</h5>
          <h4 class="stat-value">Entertainment</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Staff</h5>
          <h4 class="stat-value">100 Employees</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Size</h5>
          <h4 class="stat-value">26,000 Sq. Ft.</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Key Service</h5>
          <h4 class="stat-value">Maintenance and Relocation</h4>
        </div>
          </div>
  </div>
</div> 
<div class="customer-story-body">
  <div class="inner">

    <div class="story-precede">
      <div class="story-bio">
                  <img class="story-bio-thumb" src="https://managedbyq.objects.frb.io/seatgeek-2-desktop.jpg" alt="">
                <p class="story-bio-copy small">Fernando handles office operations and IT management at SeatGeek. He ensures the space looks great, runs smoothly, and that any last minute needs that come up get handled efficiently.</p>
      </div>
    </div>

                    <div class="story-block story-block-intro">
            <div class="text">
              <h3>SeatGeek relies on Q to keep their office running smoothly, so they can focus on growing their business</h3>
              <p>SeatGeek helps people find the best deals on sports, concert, and theater tickets. As they help their customers find great deals on events they love, the company has grown exponentially and has moved offices twice in the past few years.<br /><br />Fernando, SeatGeek’s Office and IT Operations Manager, relies on Managed by Q to ensure the office is up and running smoothly, whether that is cleaning up after lunch, handling office furniture assembly, fixing broken appliances, or upgrading the network.</p>
            </div>

            <aside>
              <blockquote>&ldquo;Managed by Q has been phenomenal for last-minute, ad hoc projects. It’s amazing to work with Q and have someone they have sourced to come in within a few hours when it would usually take a week with other services.&rdquo;</blockquote>
            </aside>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/customer-story-photo-wide-2.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/customer-story-photo-wide-2.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;Managed by Q and the Q Operators we work with are very much a part of the SeatGeek culture.&rdquo;</blockquote>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> Why did you decide to work with Managed by Q? <br /><br /><strong>A:</strong> I had worked with Q at another company, so the first thing I did at SeatGeek was roll out Q. It would get really messy during and after lunch, so we had to bring someone in to make sure the office looked good. In addition, one of my favorite services Q offers is office maintenance help. We needed a lot of things fixed around the office, so Q was just perfect.<br /><br />Since we’ve been working with Q both of our companies have grown exponentially. Q has seen us grow from a tiny office, to three offices, to one big one now. Despite all this growth, it still feels like two small companies working together, thanks to the personal attention of Q’s account managers. </p>
<p><br /><br /><strong>Q:</strong> How does using Managed by Q make your job easier? <br /><br /><strong>A:</strong> As an office operations manager, the nature of the job is putting out fires. At any time during the day I’m helping someone with IT issues, fixing something around the office, or coordinating a project with Q. I love using the Q Dashboard to find what we need from vendors and working with the Q team to revamp the office and fix our IT. <br /><br />Managed by Q has been phenomenal for last-minute, ad hoc projects. It’s amazing to work with Q and have someone they have sourced to come in within a few hours when it would usually take a week with other service providers.</p>
            </div>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/customer-story-photo-wide-1.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/customer-story-photo-wide-1.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> How does Q’s technology help you work more efficiently? <br /><br /><strong>A:</strong> The Q Dashboard is the main attraction for me—it’s a convenient space where I can literally handle everything. It’s a great way to see services for our company that we might not have thought about, such as massages and fitness classes, and learn about those services through detailed descriptions. </p>
<p><br /><br /><strong>Q:</strong> Is there a specific time when Q’s services or vendors have helped you with a specific event, challenge or opportunity at your office? <br /><br /><strong>A:</strong> There are always random, last-minute things that come up and Q helps us handle them. Our three dishwashers and coffee machine all broke at the same time and Luis, one of the Maintenance Operators, fixed them the same day. Another electrician was going to charge us a crazy amount and wouldn’t show up for a week.<br /><br />When we were outgrowing our old office so fast we needed to get a new office and move 25 people there within a week. We had one day to build out the whole 7,000 square foot space including setting up the fridge and building desks, couches, and chairs. We worked with two Q Maintenance Operators and they got it done. </p>
<p><br /><br /><strong>Q:</strong> What has been your team’s reaction to working with Managed by Q? <br /><br /><strong>A: </strong>Everyone is aware of Q and they are pretty much a part of who we are at SeatGeek. Everyone has had good interactions with the Operators and their friendliness really stands out—they are very much a part of the SeatGeek culture.</p>
<p><br /><br /><strong>Q:</strong> What is your favorite aspect of Managed by Q? <br /><br /><strong>A:</strong> It is so important to have someone to help you with handywork who knows you as a client. It’s like having a family member who can fix everything for us—they know exactly what we need, when we need it.</p>
            </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;Working with Q is like having a family member who can fix everything for you because they know exactly what you need, when you need it.&rdquo;</blockquote>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-seatgeek-section-3.jpg" alt="">
                <img class="desktop left" src="https://managedbyq.objects.frb.io/story-seatgeek-section-3.jpg" alt="">
                                            <img class="mobile right" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/story-seatgeek-section-6.jpg" alt="">
                <img class="desktop right" src="https://managedbyq.objects.frb.io/story-seatgeek-section-6.jpg" alt="">
                                        </div>
          </div>

            
    <div class="block block-customer-stories customer-stories-more-feed">
      <div class="block-header center">
        <h3 class="block-headline">More Customer Stories</h3>
      </div>
      <div class="customer-stories-card-carousel carousel">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

                                                            <div class="customer-stories-card-grid grid-length-3">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
              </div>

      <a class="btn btn-primary" href="/customer-stories">View All Stories</a>
    </div>

  </div>
</div> <!-- .customer-story-body -->

  </div>