<div class="page page-customer-story">
    
<div class="customer-story-hero unit-hero unit-hero-secondary">
  <div class="hero-media">
          <div class="hero-media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Header-Mobile-Dark.jpg);"></div>
              <div class="hero-media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/_heroSecondaryDesktop1x/StaplesPrint-Header-Desktop-Darker.jpg);"></div>
      <div class="hero-media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Header-Desktop-Darker.jpg);"></div>
      </div>

  <div class="hero-content">
    <h5 class="hero-tag">Customer Story</h5>
    <h2 class="hero-headline">Staples Print Facility</h2>
    <p class="hero-subheadline">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
  </div>

  <div class="customer-story-header-stats">
    <div class="row">
              <div class="stat-section">
          <h5 class="stat-label">Industry</h5>
          <h4 class="stat-value">Print production</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Staff</h5>
          <h4 class="stat-value">40 Employees</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Size</h5>
          <h4 class="stat-value">10,000 Sq. Ft.</h4>
        </div>
              <div class="stat-section">
          <h5 class="stat-label">Key Service</h5>
          <h4 class="stat-value">Cleaning and Maintenance</h4>
        </div>
          </div>
  </div>
</div> 
<div class="customer-story-body">
  <div class="inner">

    <div class="story-precede">
      <div class="story-bio">
                  <img class="story-bio-thumb" src="/assets/images/StaplesPrint-Jen-Desktop.jpg" alt="">
                <p class="story-bio-copy small">Jennifer is the General Manager of Staples’ print production facility where she takes care of everything from payroll, finances, supply ordering, HR administration, scheduling, and customer service.</p>
      </div>
    </div>

                    <div class="story-block story-block-intro">
            <div class="text">
              <h3>Staples counts on Q to keep their 24-hour printshop running without interruption</h3>
              <p>Staples’ New York City-based print production facility is not your typical office space. Full of copy and binding machines, the printshop runs 24 hours a day. </p>
<p>Keeping the office clean and welcoming without getting in the way of productivity is key for Jennifer, General Manager of the Print Production Facility. Jennifer began working with Q for cleaning and then expanded to using a whole range of services to keep her team happy—from hanging artwork to fixing drywall.</p>
            </div>

            <aside>
              <blockquote>&ldquo;Q has enabled me to tackle all the tasks I had put off because I didn’t have time to complete them.&rdquo;</blockquote>
            </aside>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/StaplesPrint-Photo-Wide-1.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/StaplesPrint-Photo-Wide-1.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;We started using Q for cleaning and expanded to using all sorts of services that I never realized I would need. Q has freed me up to do things I never thought I would have time to do.&rdquo;</blockquote>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> Why did you decide to work with Managed by Q?</p>
<p><strong>A:</strong> Our space is not a typical office environment. It's unique and open twenty-four hours a day. In the past we didn’t have the same people cleaning our office day in and day out and it was challenging to communicate with them. When you are changing people every other day someone might do a bad job and then it takes three-to-four weeks to clean it up again.</p>
<p>The Q Operators have been very respectful of the fact that our business is running 24 hours a day–they don’t skip a task because someone might be standing there at a certain moment. Q is better than anything we have had before and my team is really happy.</p>
<p>After we started using Q for cleaning we expanded to using all sorts of services on the Q Dashboard, like painting and fixing drywall. Working with Q has freed me up to do things I never thought I would have time to do.</p>
<p><br /></p>
<p><strong>Q:</strong> How has using Managed by Q made your job easier?</p>
<p><strong>A:</strong> Everything I’ve used Q for has made my life so much easier.<br /></p>
<p>Q has saved me so much time, especially on tasks I didn’t even realize I was spending time on. I worked with a Q Maintenance Operator to hang artwork in our conference room, which we hadn’t done for 2 years. I’ve even used the Q plant service to find a plant that won’t die in my window. Now I have two plants that were delivered directly to our office. Talk about easy!</p>
<p>I receive one bill for all the different ways that I use Q, which also saves me time from chasing down vendors and invoices. </p>
<p>Q has enabled me to tackle all the tasks I had put off because I didn’t have time to complete them.</p>
            </div>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/StaplesPrint-Photo-Wide-2.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/StaplesPrint-Photo-Wide-2.jpg" alt="">
                                        </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;I love the Q dashboard because I can easily communicate with Q. I can log in at any time. I put my requests and feedback and I know it’s looked at and addressed.&rdquo;</blockquote>
          </div>

                            <div class="story-block story-block-text">
            <div class="text">
              <p><strong>Q:</strong> How does Q’s technology help you work more efficiently?</p>
<p><strong>A:</strong> I love the dashboard because I can communicate with the Q Operators very easily. Because we’re a 24 hour facility and I’m not here when the cleaning people came I can log in at any time and I don’t have to play a game of telephone with the Operators. I put in the communication, I know it’s looked and addressed, and it’s a lot easier than it was in past with other cleaning companies. </p>
<p>In addition, the Q Marketplace has also enabled me to discover services that I never would have thought I would need.</p>
<p><br /></p>
<p><strong>Q:</strong> How has your experience been working with the Q team of account managers and customer experience? </p>
<p><strong>A:</strong> The communication with the Q team is amazing. I never have to wait on everything. They respond quickly, they know my issues when they respond. I’ve had good experiences overall with everyone I’ve worked with at Q. </p>
<p>When the original Q Operator who had been cleaning our space left, Q bent over backwards to find a new person to do a good, or better,  job and ensure that they understood our space. Q has been on top of it from the get go. </p>
<p>I have been really surprised by how much I’m using Q for different needs around the office and how much time I had been spending on tasks I shouldn’t have been wasting my time on. </p>
            </div>
          </div>

                            <div class="story-block story-block-quote">
            <blockquote>&ldquo;Q bent over backwards to find the right person to work with us and ensure they understand our space. Q has been on top of it from the get go.&rdquo;</blockquote>
          </div>

                                                <div class="story-block story-block-gallery">
            <div class="gallery gallery-double">
                              <img class="mobile left" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/StaplesPrint-Photo-Tall-2.jpg" alt="">
                <img class="desktop left" src="https://managedbyq.objects.frb.io/StaplesPrint-Photo-Tall-2.jpg" alt="">
                                            <img class="mobile right" src="https://managedbyq.objects.frb.io/_storyBlockGalleryHalfWidthMobile2x/StaplesPrint-Photo-Tall-1.jpg" alt="">
                <img class="desktop right" src="https://managedbyq.objects.frb.io/StaplesPrint-Photo-Tall-1.jpg" alt="">
                                        </div>
          </div>

                                      <div class="story-block story-block-gallery">
            <div class="gallery gallery-full">
                              <img class="mobile" src="https://managedbyq.objects.frb.io/_storyBlockGalleryFullWidthMobile2x/StaplesPrint-Photo-Wide-3.jpg" alt="">
                <img class="desktop" src="https://managedbyq.objects.frb.io/StaplesPrint-Photo-Wide-3.jpg" alt="">
                                        </div>
          </div>

            
    <div class="block block-customer-stories customer-stories-more-feed">
      <div class="block-header center">
        <h3 class="block-headline">More Customer Stories</h3>
      </div>
      <div class="customer-stories-card-carousel carousel">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
              </div>

                                                            <div class="customer-stories-card-grid grid-length-3">
                  
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="/customer-stories/seatgeek">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/seatgeek-2-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Fernando at SeatGeek</h4>
      <p class="small">Learn how SeatGeek drove growth by letting Q handle all of their daily maintenance issues.</p>
    </div>
  </a>
</div>
                  
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(/assets/images/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
              </div>

      <a class="btn btn-primary" href="/customer-stories">View All Stories</a>
    </div>

  </div>
</div> <!-- .customer-story-body -->

  </div>