<div class="page page-careers">
  <div class="careers-hero unit-hero unit-hero-secondary">
    <div class="hero-content">
      <h2 class="hero-headline">Q Careers</h2>
      <p class="hero-subheadline">We’re changing how the world works. Join us.</p>
    </div>
  </div>

  <div class="page-body">
  
    <div class="block careers-positions">
      <div class="block-header center">
        <h3 class="block-headline">Jobs at Q</h3>
      </div>
      <div class="careers-positions-filters">
        <div class="positions-filter-wrapper">
          <select class="positions-filter" id="positions-filter-cities">
            <option selected value="all">All Cities</option>
          </select>
        </div>
        <div class="positions-filter-wrapper">
        <select class="positions-filter" id="positions-filter-departments">
          <option selected value="all">All Departments</option>
        </select>
        </div>
        <div class="positions-filter-wrapper" style="display: none;">
          <select class="positions-filter" id="positions-filter-roles">
            <option selected value="all">All Roles</option>
          </select>
        </div>
      </div>

      <div class="careers-positions-feed hide-items on-load">
        <div class="position-feed-header">
          <h4 class="position-city">City</h4>
          <h4 class="position-department">Department</h4>
          <h4 class="position-role">Role</h4>
        </div>
        <div class="position-feed-empty">
          <h3>Sorry!<br />No positions match your criteria.</h3>
        </div>

        <div class="position-feed" id="position-feed">
        </div>

        <a href="#" class="show-more-positions btn btn-primary">Show More</a>
      </div>
    </div>

  </div> 
        <div class="block block-split block-operators-promo media-right">
      <div class="block-split-media">
                <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Careers-Apply-Wide-Mobile.jpg);"></div>
                      <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Careers-Apply-Wide-Desktop.jpg);"></div>
          <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Careers-Apply-Wide-Desktop.jpg);"></div>
            </div>
      <div class="block-split-content">
        <div class="content-wrapper">
          <h3 class="block-headline">Want to become a Q Operator?</h3>
          <p class="block-subheadline">Learn about joining the team that keeps our customer offices running efficiently in San Francisco, LA, Chicago, and New York.</p>
          <a class="btn btn-primary" href="http://www.managedbyq.com/apply">Apply Now</a>
        </div>
      </div>
    </div>

  <div class="block block-3-up team-career-cta">
    <div class="block-header center">
      <h2 class="block-headline">We&#039;ve got you covered</h2>
      <p class="block-subheadline">As part of our Good Jobs philosophy, we offer one of the best benefits packages in the industry. Here’s a look at what we provide.</p>
    </div>
    <div class="features-row row">
                  <div class="feature feature-1">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-medical@2x.png);"></span>
                  <h4 class="feature-headline">Healthcare</h4>
          <p class="feature-body small">All full-time employees are eligible for medical, dental, and vision benefits.</p>
        </div>
                  <div class="feature feature-2">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-stocks@2x.png);"></span>
                  <h4 class="feature-headline">Stock Options</h4>
          <p class="feature-body small">Q offers equity to all employees, regardless of their role.</p>
        </div>
                  <div class="feature feature-3">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-parental@2x.png);"></span>
                  <h4 class="feature-headline"> Generous Parental Leave</h4>
          <p class="feature-body small">Q values time spent with family and provides leave for new parents.</p>
        </div>
                  <div class="feature feature-4">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-compensation@2x.png);"></span>
                  <h4 class="feature-headline">Competitive Compensation</h4>
          <p class="feature-body small">Q offers highly competitive salaries for both hourly and salaried Operators.</p>
        </div>
                  <div class="feature feature-5">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-modern@2x.png);"></span>
                  <h4 class="feature-headline">Flexible Work Environment</h4>
          <p class="feature-body small">Q’s team benefits from a modern workplace that supports the needs of all employees.</p>
        </div>
                  <div class="feature feature-6">
                    <span class="feature-icon" style="background-image: url(https://managedbyq.objects.frb.io/q-benefits-401k@2x.png);"></span>
                  <h4 class="feature-headline">401K Matching</h4>
          <p class="feature-body small">Q invests in every Operator and offers a matching program to support their future. </p>
        </div>
        </div>
  </div>


  <div class="block block-split block-story-promo media-left">
    <div class="block-split-media">
            <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <h2 class="block-headline">Being in the office doesn&#039;t have to feel like work.</h2>
        <p class="block-subheadline">We can help make your office a place your team will want to work in—even on Mondays.</p>
        <a class="inline-link" href="https://dashboard.managedbyq.com/signup">Learn More &rarr;</a>
      </div>
    </div>
  </div>
</div>