<div class="page page-index">
    
<div class="home-hero unit-hero">
  <div class="hero-content">
    <h1 class="hero-headline">We make it easy to run your office</h1>
    <p class="hero-subheadline">Join the thousands of companies who use Managed by Q to handle everything from carpet cleaning to appliance repair.</p>
    <div class="hero-btn-wrapper">
      <a class="btn btn-primary" href="https://dashboard.managedbyq.com/signup">
        Get Started
      </a>
    </div>
  </div>

  <div class="hero-cloud">
    <div class="cloud-row cloud-row-1">
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/flatiron-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/flatiron.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/barkbox.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/barkbox.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/youknow.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/youknow.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-2">
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/Sprout-Social-Office-Reception.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/sproutsocial.jpg);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/charitywater.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/charitywater.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/ticketfly-image.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/ticketfly.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-3">
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/Staples-Office.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/Staples-Logo.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/bond-street.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-4">
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/flatiron-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/flatiron.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/seatgeek.png);"></div>
                  </div>
                      
        <div class="cloud-image-item" style="background-image: url(https://managedbyq.objects.frb.io/bond-street-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet.png);"></div>
                  </div>
          </div>
  </div>
</div>

<div class="page-body-unit home-intro-blocks home-service-wrapper">
  <div class="home-services block">
    <div class="block-header center">
      <h3 class="block-headline">Every office service you need, all in one place</h3>
      <p class="block-subheadline">The search is over. Q offers solutions for every project in your space.</p>
    </div>
    <div class="services-carousel carousel mobile-carousel">
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-3">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-Furniture-Assembly.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Furniture assembly</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-1">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-Office-Cleaning.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Office cleaning</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-2">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Plumbing-Repair.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Plumbing repair</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-5">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-Relocation.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Moving services</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-2">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-HVAC.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">HVAC service</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-3">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-Snack-Replenishment.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Supply stocking</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-6">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-Admin-Support-2.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Administrative support</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-4">
            <div class="service-card-media">
                              <span class="service-card-thumb mobile" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailMobile2x/Services-IT-Security.jpg);"></span>
                          </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Access control setup</h4>
            </div>
          </a>
        </div>
          </div>

    <div class="services-carousel carousel desktop-carousel">
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-3">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-Furniture-Assembly.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-Furniture-Assembly.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-Furniture-Assembly.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Furniture assembly</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-1">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-Office-Cleaning.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-Office-Cleaning.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-Office-Cleaning.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Office cleaning</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-2">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Plumbing-Repair.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Plumbing-Repair.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Plumbing-Repair.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Plumbing repair</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-5">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-Relocation.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-Relocation.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-Relocation.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Moving services</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-2">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-HVAC.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-HVAC.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-HVAC.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">HVAC service</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-3">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-Snack-Replenishment.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-Snack-Replenishment.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-Snack-Replenishment.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Supply stocking</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-6">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-Admin-Support-2.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-Admin-Support-2.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-Admin-Support-2.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Administrative support</h4>
            </div>
          </a>
        </div>
                      <div class="service-card">
          <a class="card-wrapper click-wrapper" href="/services#category-4">
            <div class="service-card-media">
                              <span class="service-card-thumb tablet" style="background-image: url(https://managedbyq.objects.frb.io/_serviceCardThumbnailTablet2x/Services-IT-Security.jpg);"></span>
                <span class="service-card-thumb desktop" style="background-image: url(https://managedbyq.objects.frb.io/Services-IT-Security.jpg);"></span>
                <span class="service-card-thumb desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Services-IT-Security.jpg);"></span>
                            <h5 class="service-card-cta inline-link">Learn More &rarr;</h5>
            </div>
            <div class="service-card-content">
              <h4 class="service-card-title">Access control setup</h4>
            </div>
          </a>
        </div>
          </div>
    <div class="block-cta">
      <a class="btn btn-primary" href="/services">View more services</a>
    </div>
  </div>
</div>

<div class="page-body page-body-unit home-intro-blocks">
  <div class="home-features">
                
      <div class="block block-split home-feature home-feature-1 media-right" id="home-feature-1">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h2 class="block-headline">You&#039;ve got options</h2>
              <p class="block-subheadline">With Q’s network of partners, choose the provider that&#039;s right for your project and our experts will handle the rest.</p>
              <a class="inline-link" href="/services">See What Q Can Do &rarr;</a>
            </div>
                                        <div class="customer-quote customer-quote-mini desktop">
                                  <img class="quote-thumb" src="https://managedbyq.objects.frb.io/_serviceCategoryThumbnail2x/bondstreet-sm.jpg">
                                <div class="quote-content">
                  <p class="quote-quote small">Q is there within the blink of an eye for whatever we need.</p>
                  <p class="quote-caption">Zac at Bond Street</p>
                </div>
              </div>
                      </div>
        </div>

        <div class="block-split-media">
                      <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Homepage-Section-1-Mobile.jpg);"></div>
                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-1-Desktop.jpg);"></div>
            <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-1-Desktop.jpg);"></div>
          
                      <div class="animation-block-1">
              <h3 class="animation-block-text">Quotes for Install light fixtures</h3>
              <div class="animation-block-vendor-1 card-1"></div>
              <div class="animation-block-vendor-2 card-2"></div>
              <div class="animation-block-vendor-3 card-3"></div>
            </div>
          
          
                  </div>

                  <div class="customer-quote customer-quote-mini mobile">
                          <img class="quote-thumb" src="https://managedbyq.objects.frb.io/bondstreet-sm.jpg">
                        <div class="quote-content">
              <p class="quote-quote small">Q is there within the blink of an eye for whatever we need.</p>
              <p class="quote-caption">Zac at Bond Street</p>
            </div>
          </div>
              </div>
                
      <div class="block block-split home-feature home-feature-2 media-left" id="home-feature-2">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h2 class="block-headline">We&#039;ll always have your back</h2>
              <p class="block-subheadline">Q&#039;s team is on-call to handle tasks that can&#039;t wait, so you can focus on what matters most for your business.</p>
              <a class="inline-link" href="/people">Meet Your Dedicated Team &rarr;</a>
            </div>
                                        <div class="customer-quote customer-quote-mini desktop">
                                  <img class="quote-thumb" src="https://managedbyq.objects.frb.io/_serviceCategoryThumbnail2x/seatgeek-3-sm.jpg">
                                <div class="quote-content">
                  <p class="quote-quote small">Working with Q is like having a family member who can fix everything. They know what you need, exactly when you need it.</p>
                  <p class="quote-caption">Fernando at SeatGeek</p>
                </div>
              </div>
                      </div>
        </div>

        <div class="block-split-media">
                      <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Homepage-Section-2-Mobile.jpg);"></div>
                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-2-Desktop.jpg);"></div>
            <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-2-Desktop.jpg);"></div>
          
          
                      <div class="animation-block-2">
              <div class="animation-block-card-1 card-1"></div>
              <div class="animation-block-card-2 card-2"></div>
              <div class="animation-block-card-3 card-3"></div>
            </div>
          
                  </div>

                  <div class="customer-quote customer-quote-mini mobile">
                          <img class="quote-thumb" src="https://managedbyq.objects.frb.io/seatgeek-3-sm.jpg">
                        <div class="quote-content">
              <p class="quote-quote small">Working with Q is like having a family member who can fix everything. They know what you need, exactly when you need it.</p>
              <p class="quote-caption">Fernando at SeatGeek</p>
            </div>
          </div>
              </div>
                
      <div class="block block-split home-feature home-feature-3 media-right" id="home-feature-3">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h2 class="block-headline">Be in three places at once</h2>
              <p class="block-subheadline">We&#039;ve built the smartest online platform for workspaces—so you don&#039;t have to run around to run your office.</p>
              <a class="inline-link" href="/technology">Learn How It Works &rarr;</a>
            </div>
                                        <div class="customer-quote customer-quote-mini desktop">
                                  <img class="quote-thumb" src="https://managedbyq.objects.frb.io/_serviceCategoryThumbnail2x/charitywater-story-sm.jpg">
                                <div class="quote-content">
                  <p class="quote-quote small">The Q Dashboard does everything—I can come to Q for anything I need and find things I didn&#039;t even know Q offered.</p>
                  <p class="quote-caption">Jordan at charity: water</p>
                </div>
              </div>
                      </div>
        </div>

        <div class="block-split-media">
                      <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Homepage-Section-3-Mobile.jpg);"></div>
                                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-3-Desktop.jpg);"></div>
            <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Homepage-Section-3-Desktop.jpg);"></div>
          
          
          
                      <div class="animation-manage-card animation-manage-card-1">
              <div class="manage-card"></div>
              <div class="circle circle-1 circle-unchecked"></div>
            </div>

            <div class="animation-manage-card animation-manage-card-2">
              <div class="manage-card"></div>
              <div class="circle circle-2 circle-unchecked"></div>
            </div>

            <div class="animation-manage-card animation-manage-card-3">
              <div class="manage-card"></div>
              <div class="circle circle-3 circle-unchecked"></div>
            </div>
                  </div>

                  <div class="customer-quote customer-quote-mini mobile">
                          <img class="quote-thumb" src="https://managedbyq.objects.frb.io/charitywater-story-sm.jpg">
                        <div class="quote-content">
              <p class="quote-quote small">The Q Dashboard does everything—I can come to Q for anything I need and find things I didn&#039;t even know Q offered.</p>
              <p class="quote-caption">Jordan at charity: water</p>
            </div>
          </div>
              </div>
      </div> </div> 

<div class="block block-customer-stories">
  <div class="block-header center">
    <h3 class="block-headline">See what it&#039;s like to be Managed by Q</h3>
    <p class="block-subheadline">Don&#039;t take our word for it—check our references. Learn how top companies use Q to run their office.</p>
  </div>

  <div class="customer-stories-card-carousel carousel">
          
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
          
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
          
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
      </div>

  <div class="customer-stories-card-grid">
          
<div class="customer-quote customer-quote-card card-1">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/staples-print-facility">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/StaplesPrint-Jen-Desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jennifer at Staples Print Facility</h4>
      <p class="small">Staples trusts Q to keep their production facility clean and to help manage a fast-moving workspace. </p>
    </div>
  </a>
</div>
          
<div class="customer-quote customer-quote-card card-2">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/bond-street">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/bondstreet-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Zac at Bond Street</h4>
      <p class="small">By using Q, Bond Street created an office atmosphere where employee satisfaction is sky-high.</p>
    </div>
  </a>
</div>
          
<div class="customer-quote customer-quote-card card-3">
  <a class="card-wrapper click-wrapper" href="http://www.managedbyq.com/customer-stories/charity-water">
    <div class="customer-quote-media">
              <span class="customer-quote-thumb" style="background-image: url(https://managedbyq.objects.frb.io/charitywater-desktop.jpg);"></span>
            <h5 class="customer-quote-cta inline-link">Read Full Story &rarr;</h5>
    </div>
    <div class="customer-quote-content">
      <h4 class="customer-quote-person">Jordan at charity: water</h4>
      <p class="small">With Q’s help managing big-ticket donor events, charity: water kept costs down and contributions up.</p>
    </div>
  </a>
</div>
      </div>

  <a class="btn btn-secondary" href="/customer-stories">See More Stories</a>

  <div class="customer-logo-bar">
      </div>
</div>
<div class="block home-guarantee">
  <h3 class="block-headline">Let&#039;s make the world work better</h3>
  <p class="block-subheadline">We&#039;re on a mission to build a better future where technology creates good jobs for everyone.</p>
  <a class="inline-link" href="/careers">Join Us &rarr;</a>
</div>


<div class="block block-split block-story-promo media-left">
  <div class="block-split-media">
          <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
              <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      </div>
  <div class="block-split-content">
    <div class="content-wrapper">
      <h2 class="block-headline">Being in the office doesn&#039;t have to feel like work.</h2>
      <p class="block-subheadline">We can help make your office a place your team will want to work in—even on Mondays.</p>
      <a class="inline-link" href="https://dashboard.managedbyq.com/signup">Learn More &rarr;</a>
    </div>
  </div>
</div>
  </div>