<div class="page page-apply">
    
<div class="apply-hero unit-hero unit-hero-secondary">
  <div class="hero-content">
    <h2 class="hero-headline">Apply to become an Operator</h2>
    <p class="hero-subheadline">Managed by Q is hiring cleaning, maintenance, and assistant Operators!</p>
  </div>
</div>

<div class="page-body page-body-apply">

  <div class="apply-intro block block-3-up">
    <div class="block-header">
      <p class="block-subheadline">We’re building an operating system for the office of the future. That means combining people, products, and technology to efficiently run an office and make the world work better.<br><br>We’re passionate about creating the best jobs possible for every member of our team. Whether you’re a cleaning Operator, engineer, maintenance Operator, or sales person, we want you to love your job at Q.<br><br>All of our Operators are eligible for company-paid benefits and have opportunities for career growth!</p>
    </div>
  </div>

  <div class="apply-features">
          <div class="block block-split apply-feature media-right">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h3 class="block-headline">Cleaning Operator</h3>
            </div>
            <div class="block-body">
              <p>Our Cleaning Operators keep Q client offices clean, stocked and organized!</p>
<ul><li>Tasks could include detailing floors, taking out the trash, knolling desks and staging conference room tables, cleaning bathrooms, and washing and drying dishes.</li><li>Operators are assigned 1-4 client accounts to independently manage.</li><li>Successful candidates should be able to work a minimum of 20+ hours a week, including nights and weekends (most of our shifts are in the evening, though we sometimes have daytime and morning times available).</li><li>From the Cleaning Operator role, successful team members can progress to Mentors, Supervisors, and beyond. Each role comes with additional pay and responsibility!</li></ul>
            </div>
            <div class="block-ctas">
                              <a class="inline-link" href="https://onboardiq.com/managed-by-q/apply/copied-operator-applicants-chicago-operations">Apply in San Francisco &rarr;</a>
                              <a class="inline-link" href="https://onboardiq.com/managed-by-q/apply/la">Apply in LA &rarr;</a>
                              <a class="inline-link" href="https://onboardiq.com/managed-by-q/apply/managed-by-q-applicants">Apply in NYC &rarr;</a>
                          </div>
          </div>
        </div>
        <div class="block-split-media">
        </div>
      </div>
          <div class="block block-split apply-feature media-right">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h3 class="block-headline">Maintenance Operator</h3>
            </div>
            <div class="block-body">
              <p>Maintenance Operators address a wide range of upkeep issues with the goal of ensuring clients' offices are a great place to work.</p>
<ul><li>Tasks could include mounting TVs, assembling complex furniture or devices, tiling, lock changing, carpentry, painting, appliance repair, basic plumbing, and basic electrical work.</li><li>Scheduling is flexible, allowing Q Handymen to work whenever and for as few or as many hours as you would like.</li><li>As Q grows, our Q Handymen can grow with us! Q provides opportunities for personal development, raises, and promotion within the handyman role. As Q Handymen advance, you get the opportunity to take on jobs as large and complex as your skill set allows!</li></ul>
            </div>
            <div class="block-ctas">
                              <a class="inline-link" href="https://boards.greenhouse.io/managedbyq/jobs/870856#.WdLAGBOPJlM">Apply in San Francisco &rarr;</a>
                              <a class="inline-link" href="https://boards.greenhouse.io/managedbyq/jobs/868382#.WdK9qxOPJlM">Apply in LA &rarr;</a>
                          </div>
          </div>
        </div>
        <div class="block-split-media">
        </div>
      </div>
          <div class="block block-split apply-feature media-right">
        <div class="block-split-content">
          <div class="content-wrapper">
            <div class="block-header">
              <h3 class="block-headline">Helper</h3>
            </div>
            <div class="block-body">
              <p>Q Helpers offer an extra set of hands to help keep offices running smoothly.</p>
<ul><li>Tasks could include basic furniture assembly and moving, light hanging, light bulb changing, sorting, and packing &amp; unpacking.</li><li>Scheduling is flexible, allowing Q Helpers to work whenever and for as few or as many as many hours as you would like.</li><li>Q Helpers have the flexibility to work in both the cleaning and maintenance divisions of Q, with the option to take cleaning accounts in addition to Q Helper projects. You will also assist Maintenance Operators on more complex maintenance projects.</li><li>Through the Handyman-in-Training program, Q Helpers work with qualified Q Maintenance Operators to hone your skills and advance into the Q Maintenance Operator role.</li></ul>
            </div>
            <div class="block-ctas">
                              <a class="inline-link" href="https://boards.greenhouse.io/managedbyq/jobs/868389#.WdK9sROPJlM">Apply in San Francisco &rarr;</a>
                              <a class="inline-link" href="https://boards.greenhouse.io/managedbyq/jobs/868384#.WdK9rhOPJlM">Apply in LA &rarr;</a>
                          </div>
          </div>
        </div>
        <div class="block-split-media">
        </div>
      </div>
      </div>
    </div> 
  </div>