<div class="page page-team">  
  <div class="story-hero unit-hero unit-hero-secondary">
    <div class="hero-content">
      <h2 class="hero-headline">Meet our Operators</h2>
      <p class="hero-subheadline">Every Q employee is called an ‘Operator’ because we believe that when we work together, we can achieve our goals. It’s through our diverse skills and backgrounds that we’ve built a better business.</p>
    </div>
  </div>

  <div class="page-body page-body-company">

    <div class="team-features">
                        <div class="block block-split team-feature media-right">
          <div class="block-split-content">
            <div class="content-wrapper">
              <div class="block-header">
                <h3 class="block-headline">Janice Bacuetes</h3>
                <h5 class="team-position">Client Experience</h5>
              </div>
              <p class="block-subheadline small">As Director of Client Experience, Janice ensures each of our clients has a great experience with Q. She previously managed customer relationships at Rent the Runway and Yelp. When she isn’t going the extra mile for our customers, Janice is making things from scratch—either in the kitchen or at the craft table.</p>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Team-Janice-Mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Team-Janice-Desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Team-Janice-Desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split team-feature media-left">
          <div class="block-split-content">
            <div class="content-wrapper">
              <div class="block-header">
                <h3 class="block-headline">Jordan Runge</h3>
                <h5 class="team-position">Training Operations</h5>
              </div>
              <p class="block-subheadline small">Jordan builds the programs and processes to train our field team at Q. A devoted educator, he’s a Teach For America alum who taught in the Bronx and worked at the Network for Teaching Entrepreneurship. In his free time, Jordan can be found cycling, hanging out with his wife and dog, or reading about politics and science.</p>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/jordan-mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/jordan-desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/jordan-desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split team-feature media-right">
          <div class="block-split-content">
            <div class="content-wrapper">
              <div class="block-header">
                <h3 class="block-headline">Helena Chestnut</h3>
                <h5 class="team-position">Information Technology</h5>
              </div>
              <p class="block-subheadline small">Helena has been tinkering with tech since she was given a broken computer at age 13, which she promptly took apart and successfully put back together. She is now running and building the IT team at Q, after managing IT at Oscar Insurance and Intent Media. Helena loves to challenge herself, and became a professional sky diver after a dare on her birthday.</p>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/helena-mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/helena-desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/helena-desktop.jpg);"></div>
                    </div>
        </div>
                        <div class="block block-split team-feature media-left">
          <div class="block-split-content">
            <div class="content-wrapper">
              <div class="block-header">
                <h3 class="block-headline">Matt Briançon</h3>
                <h5 class="team-position">Engineering</h5>
              </div>
              <p class="block-subheadline small">Matt joined Q as a software engineer in the early days, and has helped the team expand its infrastructure to support Q&#039;s growing office services. Prior to Q, he built backend services for Bloomberg, launched several sites with Type/Code, and co-founded a platform to help charities raise money. When he’s not coding, Matt is usually busy climbing, drinking tea, or making turkey sandwiches.</p>
            </div>
          </div>
          <div class="block-split-media">
                        <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/matt-mobile.jpg);"></div>
                                  <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/matt-desktop.jpg);"></div>
              <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/matt-desktop.jpg);"></div>
                    </div>
        </div>
        </div>

    <div class="block team-executives">
      <div class="block-header center">
        <h2 class="block-headline">Our fearless leaders</h2>
        <p class="block-subheadline"></p>
      </div>

      <div class="executives-grid">
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/q-headshots-dan-teran-2.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/q-headshots-dan-teran-2.jpg">
                          <h4 class="executive-name">Dan Teran</h4>
              <h5 class="executive-title">Chief Executive Officer</h5>
            </div>
          </div>
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/q-headshots-chris-davis.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/q-headshots-chris-davis.jpg">
                          <h4 class="executive-name">Chris Davis</h4>
              <h5 class="executive-title">Chief Financial Officer</h5>
            </div>
          </div>
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/q-headshots-michael-marty.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/q-headshots-michael-marty.jpg">
                          <h4 class="executive-name">Michael Marty</h4>
              <h5 class="executive-title">Chief Operating Officer </h5>
            </div>
          </div>
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/q-headshots-phil-sarin.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/q-headshots-phil-sarin.jpg">
                          <h4 class="executive-name">Phil Sarin</h4>
              <h5 class="executive-title">Chief Technology Officer </h5>
            </div>
          </div>
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/q-headshots-dan-corwin.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/q-headshots-dan-corwin.jpg">
                          <h4 class="executive-name">Dan Corwin</h4>
              <h5 class="executive-title">SVP of Revenue</h5>
            </div>
          </div>
                        <div class="executive">
            <div class="inner">
                            <img class="executive-thumb normal" src="https://managedbyq.objects.frb.io/Allison_Whalen_1200.jpg">
                <img class="executive-thumb retina" src="https://managedbyq.objects.frb.io/Allison_Whalen_1200.jpg">
                          <h4 class="executive-name">Allison Whalen</h4>
              <h5 class="executive-title">VP of Expansion</h5>
            </div>
          </div>
        
      </div>
    </div>

      
  </div> 

  <div class="block block-split block-story-promo media-left">
    <div class="block-split-media">
            <div class="media-image mobile" style="background-image: url(https://managedbyq.objects.frb.io/_blockSplitMobile2x/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
                <div class="media-image desktop" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        <div class="media-image desktop retina" style="background-image: url(https://managedbyq.objects.frb.io/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
        </div>
    <div class="block-split-content">
      <div class="content-wrapper">
        <h2 class="block-headline">Being in the office doesn&#039;t have to feel like work.</h2>
        <p class="block-subheadline">We can help make your office a place your team will want to work in—even on Mondays.</p>
        <a class="inline-link" href="/signup">Learn More &rarr;</a>
      </div>
    </div>
  </div>
</div>