<div class="page page-log-in">
  <div class="content-wrap">
    <div class="content">
      <div class="page-title">Log in to Q</div>

      <div class="cards">
        <div class="card">
          <div class="icon buildings"></div>
          <div class="title">Office Dashboard</div>
          <span>Access hundreds of services to simplify your office operations and save time.</span>
          <a class="btn btn-primary" href="login/office" onClick="mbq_snowplow('trackStructEvent', 'login', 'clicked', 'omd');">Office login</a>
        </div>

        <div class="card">
          <div class="icon tools"></div>
          <div class="title">Partner Dashboard</div>
          <span>Connect with commercial clients to schedule work and grow your business.</span>
          <a class="btn btn-black" href="login/partners" onClick="mbq_snowplow('trackStructEvent', 'login', 'clicked', 'pd');">Partner login</a>
        </div>
      </div>
    </div>
  </div>
</div>