<div class="page page-press">
    
<div class="careers-hero unit-hero unit-hero-secondary">
  <div class="hero-content">
    <h2 class="hero-headline">Press</h2>
  </div>
</div>

<div class="page-body page-secondary">
  <div class="press-sidebar secondary-sidebar">
    <div class="press-sidebar-section press-kit">
      <p class="small">Get media-approved logos, photos, headshots, and more.</p>
      <a class="btn btn-secondary" href="https://managedbyq.objects.frb.io/Managed-by-Q-Press-Assets.zip">Download Press Kit</a>
    </div>
    <div class="press-sidebar-section press-kit">
      <p class="small">Want to get in touch with Q&#039;s press team?</p>
      <a class="btn btn-secondary" href="/contact#press">Contact Us</a>
    </div>
  </div>

  <div class="press-main secondary-main" id="press-main">
    <div class="press-feed">
      <div class="feed">
                            <div class="press-post">
            <a class="click-wrapper" href="https://www.fastcompany.com/40477488/how-managed-by-q-is-helping-companies-live-their-values" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-fastcompany@2x.png)"></span>
              <h4 class="post-headline">How Managed By Q Is Helping Companies Live Their Values</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://techcrunch.com/2017/09/26/managed-by-q-the-office-management-system-acquires-hivy/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-techcrunch@2x.png)"></span>
              <h4 class="post-headline">Managed By Q, the office management system, acquires Hivy</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://commercialobserver.com/2017/09/office-services-provider-managed-by-q-acquires-french-task-platform-hivy/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Commercial-Observer-Logo-BW.png)"></span>
              <h4 class="post-headline">Office Services Provider Managed by Q Acquires French Task&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://pix11.com/2017/09/01/connecting-immigrants-in-underserved-communities-with-jobs-and-hope-for-the-future/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Pix11-logo.png)"></span>
              <h4 class="post-headline">Connecting immigrants in underserved communities with jobs and&hellip;</h4>
                              <span class="inline-link">Watch Video &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://money.cnn.com/video/news/economy/2017/08/04/managed-by-q-cleaner-stock-options.cnnmoney/index.html" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-cnnmoney@2x.png)"></span>
              <h4 class="post-headline">I'm a janitor getting stock options</h4>
                              <span class="inline-link">Watch Video &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://fortune.com/2017/06/20/managed-by-q-marketplace/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-fortune@2x.png)"></span>
              <h4 class="post-headline">Managed by Q Launches Self-Serve Marketplace To Ramp Up Growth</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.npr.org/sections/health-shots/2017/06/22/533943837/efforts-increase-to-bring-health-and-other-benefits-to-independent-workers" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/NPR-Logo-BW.png)"></span>
              <h4 class="post-headline">Efforts Increase To Bring Health And Other Benefits To&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.chicagotribune.com/bluesky/originals/ct-bsi-managed-by-q-culture-20170530-story.html" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Chicago-Tribune-BW.png)"></span>
              <h4 class="post-headline">How Managed by Q brings startup culture to bigger offices</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://commercialobserver.com/2017/07/the-plan-office-management-startup-pops-the-q-at-one-soho-square/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Commercial-Observer-Logo-BW.png)"></span>
              <h4 class="post-headline">The Plan: Office Management Startup Pops the ‘Q’ at One Soho&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://www.wsj.com/articles/staples-bets-on-a-startup-that-can-manage-the-whole-office-1486643407" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/WSJ-2X.png)"></span>
              <h4 class="post-headline">Staples Bets on a Startup That Can Manage the Whole Office</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://techcrunch.com/2016/11/17/managed-by-q-inks-exclusive-deal-with-staples/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-techcrunch@2x.png)"></span>
              <h4 class="post-headline">Managed by Q Inks Deal With Staples</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://commercialobserver.com/2017/03/office-services-startup-managed-by-q-brings-on-relateds-jay-cross/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/Commercial-Observer-Logo-BW.png)"></span>
              <h4 class="post-headline">Office Services Startup Managed by Q Brings on Related’s Jay Cross</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://techcrunch.com/2017/05/16/handy-and-managed-by-q-want-to-make-the-gig-economy-a-force-for-good/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-techcrunch@2x.png)"></span>
              <h4 class="post-headline">Handy and Managed by Q want to make the gig economy a force for&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="https://www.bloomberg.com/news/features/2015-10-09/it-s-like-uber-for-janitors-with-one-big-difference" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-bloomgberg@2x.png)"></span>
              <h4 class="post-headline">It's Like Uber for Janitors With One Huge Difference</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.buzzfeed.com/coralewis/this-on-demand-economy-startup-is-giving-workers-equity#.cj3Zm5nNY" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-buzzfeed@2x.png)"></span>
              <h4 class="post-headline">This On-Demand Economy Startup Is Giving Workers Equity</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.cnbc.com/id/102500071" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-cnbc@2x.png)"></span>
              <h4 class="post-headline">The tech start-up that acts like an office manager</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://money.cnn.com/2016/03/18/technology/managed-by-q-equity-thomas-perez/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-cnnmoney@2x.png)"></span>
              <h4 class="post-headline">Cleaners and Handymen Get Equity at this Startup Managed by Q</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.fastcompany.com/3058057/managed-by-q-gives-5-of-company-to-its-cleaners" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-fastcompany@2x.png)"></span>
              <h4 class="post-headline">Managed By Q Gives 5% Of Company To Its Cleaners</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://fortune.com/2015/06/18/cleaning-startup-managed-by-q/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-fortune@2x.png)"></span>
              <h4 class="post-headline">Workers at this startup get a perk that most in the on-demand&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.nytimes.com/2016/02/28/magazine/managed-by-qs-good-jobs-gamble.html?_r=0" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-nytmagazine@2x.png)"></span>
              <h4 class="post-headline">Managed by Q’s ‘Good Jobs’ Gamble</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.psfk.com/2016/02/gig-economy-managed-by-q.html" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-psfk@2x.png)"></span>
              <h4 class="post-headline">The Gig Economy is Becoming a Better Place to Work Thanks to ‘Q’</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://qz.com/785513/gig-economy-startups-like-juno-and-managed-by-q-are-hiring-employees-not-contractors/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-quartz@2x.png)"></span>
              <h4 class="post-headline">Startups Have A Crazy New Idea for Saving Money: Be Nice to&hellip;</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://www.sfchronicle.com/business/article/Employee-contractor-or-something-else-6400531.php" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/q-press-sanfranciscochronicle@2x.png)"></span>
              <h4 class="post-headline">Employee, Contractor—or Something Else Entirely</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
                            <div class="press-post">
            <a class="click-wrapper" href="http://blogs.wsj.com/venturecapital/2015/06/18/managed-by-q-raises-15-million-to-expand-across-u-s/" target="blank">
              <span class="post-logo" style="background-image: url(https://managedbyq.objects.frb.io/WSJ-2X.png)"></span>
              <h4 class="post-headline">Managed by Q Raises $15 Million to Expand Across U.S.</h4>
                              <span class="inline-link">View Article &rarr;</span>
                          </a>
          </div>
              </div>
    </div>
  </div>
</div>

  </div>