<!doctype html><!-- start coded_template: id:5349808721 path:generated_layouts/5349808717.html --><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Managed by Q">
    <meta name="description" content="A refreshing take on office management">
    <meta name="generator" content="HubSpot">
    <title>The Watercooler</title>
    <link rel="shortcut icon" href="https://blog.managedbyq.com/hubfs/Q-Mark-Logo-30.png?t=1507687902538">
    

    <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript">hsjQuery = window['jQuery']</script>
    <link href="https://static.hsstatic.net/content_shared_assets/static-1.4049/css/public_common.css" rel="stylesheet">
    <meta property="og:description" content="A refreshing take on office management">
    <meta property="og:title" content="The Watercooler">
    <meta name="twitter:description" content="A refreshing take on office management">
    <meta name="twitter:title" content="The Watercooler">

    
<!--  Added by GoogleAnalytics integration -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49664327-2', 'auto');
  ga('send', 'pageview');
</script>

<!-- /Added by GoogleAnalytics integration -->

    

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCVD9WD');</script>
<!-- End Google Tag Manager -->

<meta property="og:type" content="blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="blog.managedbyq.com">
<link rel="alternate" type="application/rss+xml" href="//blog.managedbyq.com/rss.xml">

<link href="//cdn2.hubspot.net/hub/-1/hub_generated/template_assets/1495141902003/hubspot_default/shared/responsive/layout.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1506024474396/Custom/page/Managed_by_Q_August2017-theme/Managed_by_Q_August2017-style.min.css">
<link rel="stylesheet" href="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1506355738755/Custom/blog/Primary_Blog/Primary_Blog.min.css">

<link rel="next" href="//blog.managedbyq.com/page/2">
<link rel="canonical" href="http://blog.managedbyq.com">

</head>
<body class="blog   hs-blog-id-5246907918 hs-blog-listing" style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5295851740 path:generated_global_groups/5295851739.html -->
<div class="" data-global-widget-path="generated_global_groups/5295851739.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span1 widget-span widget-type-raw_html custom-logo" style="" data-widget-type="raw_html" data-x="0" data-w="1">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268965333048" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><a href="http://spa-techdigital.herokuapp.com/">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
<g>
<path d="M35,17.6c0-9.4-7.6-17-17-17c-9.4,0-17,7.6-17,17c0,9.4,7.6,17,17,17c3.2,0,6.1-0.9,8.7-2.4l3.1,3.1l4.5-4.5L31.4,28
C33.7,25.1,35,21.5,35,17.6z M18,28.3c-5.9,0-10.6-4.8-10.6-10.6C7.4,11.8,12.1,7,18,7c5.9,0,10.6,4.8,10.6,10.6
c0,2.2-0.6,4.2-1.7,5.8l-3.2-3.2l-4.5,4.5l2.8,2.8C20.7,28,19.4,28.3,18,28.3z"></path>
</g>
</svg>
</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span8 widget-span widget-type-menu custom-menu-primary" style="" data-widget-type="menu" data-x="1" data-w="8">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268989482649" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_150268989482649" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Managed by Q_August_2017_Sitemap">
 <ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="/services">What We Do</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/services">Services</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/people">People</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/technology">Technology</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 active hs-item-has-children active-branch"><a href="/blog">Resources</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/customer-stories">Customer Stories</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/office-moving-guide">Office Moves</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/allhands">All Hands</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/blog">Blog</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="/story">Our Company</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/story">Story</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/team">Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/press">Press</a></li>
   </ul></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-top-links" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268964256347" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><ul>
<li><a href="/">Log In</a></li>
<li><a href="/signup"> Get Started </a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-mobile-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-logo header-main" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502699876171450" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><a href="http://spa-techdigital.herokuapp.com/">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
<g>
<path d="M35,17.6c0-9.4-7.6-17-17-17c-9.4,0-17,7.6-17,17c0,9.4,7.6,17,17,17c3.2,0,6.1-0.9,8.7-2.4l3.1,3.1l4.5-4.5L31.4,28
C33.7,25.1,35,21.5,35,17.6z M18,28.3c-5.9,0-10.6-4.8-10.6-10.6C7.4,11.8,12.1,7,18,7c5.9,0,10.6,4.8,10.6,10.6
c0,2.2-0.6,4.2-1.7,5.8l-3.2-3.2l-4.5,4.5l2.8,2.8C20.7,28,19.4,28.3,18,28.3z"></path>
</g>
</svg>
</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-menu-inner" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-menu custom-menu-primary" style="" data-widget-type="menu" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502699905652451" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_1502699905652451" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Managed by Q_August_2017_Mobile_Sitemap">
 <ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Our Solution</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/services">Services</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/people">People</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/technology">Technology</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children active-branch"><a href="javascript:;"></a>
   <ul class="hs-menu-children-wrapper active-branch">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/story">Story</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/team">Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/customer-stories">Customer Stories</a></li>
    <li class="hs-menu-item hs-menu-depth-2 active active-branch"><a href="/blog">Blog</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/signup">Get Started</a></li>
   </ul></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5295851740 path:generated_global_groups/5295851739.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->


<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center content-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell blog-content" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-blog_content " style="" data-widget-type="blog_content" data-x="0" data-w="12">
<div class="blog-section">
    <div class="blog-post-wrapper cell-wrapper">
        <div class="section post-header">
            <h1><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Building a Trustworthy Marketplace</span></h1>
            <span class="post-published">October 5, 2017</span>
        </div>
        <div class="section post-body">
            <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text"><p><span style="background-color: transparent;">When we first started Q, we spoke to hundreds of office managers who told us that one of the hardest parts of their job was finding service providers they could trust<span>—</span>to solve problems in a bind and work diligently in their space when nobody else was around.</span></p>
<!--more--><p>Over the past year three years, we've partnered with office teams across the country to build our online marketplace, and with it, the Q Partner network.&nbsp;</p>
<p>Our Partners are good<span>—</span>really good<span>—</span>but we don’t expect you to just take our word for it.</p>
<p>Today, we’re introducing Q Partner Profiles, which enable you to evaluate office service providers based on objective credentials and reviews that are relevant to the needs of a fast-growing workplace.<br><br></p>
<p><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=620&amp;height=364&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg" alt="ManagedbyQ-Parter-Profile-LVServices.jpg" width="620" height="364" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=310&amp;height=182&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=620&amp;height=364&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=930&amp;height=546&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=1240&amp;height=728&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=1550&amp;height=910&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Parter-Profile-LVServices.jpg?t=1507687902538&amp;width=1860&amp;height=1092&amp;name=ManagedbyQ-Parter-Profile-LVServices.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"></p>
<p><br><span>We’ve built a team to support you in making sure you’re hiring the right people for the job.&nbsp;</span>Our Partner Success team works closely to onboard new Partners, reviewing extensive questionnaires, checking references, and confirming all relevant licensing and insurance<span>—</span>so you don’t have to. &nbsp;</p>
<p>In addition to seeing these industry credentials and certifications, you&nbsp;<span style="background-color: transparent;">can also see if a Partner is woman-, minority-, or veteran-owned business, to help inform your service provider selection.&nbsp;</span></p>
<p><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=620&amp;height=394&amp;name=ManagedbyQ-Operators-Service-Providers.jpg" alt="ManagedbyQ-Operators-Service-Providers.jpg" width="620" height="394" style="background-color: transparent;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=310&amp;height=197&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=620&amp;height=394&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=930&amp;height=591&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=1240&amp;height=788&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=1550&amp;height=985&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/ManagedbyQ-Operators-Service-Providers.jpg?t=1507687902538&amp;width=1860&amp;height=1182&amp;name=ManagedbyQ-Operators-Service-Providers.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"><br><br>But when it comes to finding the right vendor, we know that office managers tend to know best. We’ve been collecting thousands of data points around Partner performance&nbsp;<span>over the past six months.</span>&nbsp;These attributes, such as responsiveness, timeliness, and job quality, are critical to choosing a service provider, and are all surfaced on our new Partner Profiles. You can also see real, verified reviews from office management professionals in your area, so you don’t have to rely on Joe D. from Yelp.&nbsp;<br><br>We spent the past several months understanding what is most important to both office teams when it comes to making purchasing decisions, as well as service providers who want to better market themselves to commercial clients.&nbsp;</p>
<p>As we continue to build out our marketplace and empower our users to make the best decisions for their offices, we’d love to hear more of your feedback about what should come next.&nbsp;</p>
<p>To all those office managers and service providers who partnered with us on shipping this feature, thanks! We give you a big thumbs up for “Would hire again.”</p></span>
        </div>
    </div>
</div>


<!-- Optional: Blog Author Bio Box -->





</div>

</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell blog__go-back" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150629727670222" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><a href="/blog">← Back to blog</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->


<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5296155878 path:generated_global_groups/5296155876.html -->
<div class="" data-global-widget-path="generated_global_groups/5296155876.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-top-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text custom-footer-top-heading" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150269002117786" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>The Operating System for Offices<sub>TM</sub></h2></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-cell custom-footer-top-left" style="" data-widget-type="cell" data-x="0" data-w="6">

<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-form custom-footer-form" style="" data-widget-type="form" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690236074106" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_module_1502690236074106_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">Stay up-to-date with Q</h3>

<div id="hs_form_target_module_1502690236074106"></div>



</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-terms-condition" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150286734183316" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><p>Terms &amp; Conditions</p>
<div class="popup-over">
<div class="arrow"></div>
<div class="popover-content">Managed by Q may provide promotional information to the Customer on a regular basis, including via email or any other means of electronic communication. This promotional information can be altered or removed at any point in time without advance notification.  The Customer may opt out of these communications by sending an email to unsubscribe@managedbyq.com.</div>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span6 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690362427335" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><h3>Connect With Us</h3>
<div class="social-icons">
<a class="icon icon-twitter" href="https://twitter.com/managedbyq" target="blank"></a>
<a class="icon icon-facebook" href="https://facebook.com/managedbyq" target="blank"></a>
<a class="icon icon-linkedin" href="https://www.linkedin.com/company/managed-by-q" target="blank"></a>
<a class="icon icon-instagram" href="https://instagram.com/managedbyq" target="blank"></a>
<a class="icon icon-medium" href="https://medium.com/@ManagedbyQ" target="blank"></a>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-bottom-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col1" style="" data-widget-type="rich_text" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690466954336" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>What We Do</h3>
<ul>
<li><a href="/services">Services</a></li>
<li><a href="/people">People</a></li>
<li><a href="/technology">Technology</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col2" style="" data-widget-type="rich_text" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690489282341" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Company</h3>
<ul>
<li><a href="/story">Story</a></li>
<li><a href="/team">Team</a></li>
<li><a href="/careers">Careers</a></li>
<li><a href="/press">Press</a></li>
<li><a href="/allhands" target="_blank">All Hands</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col3" style="" data-widget-type="rich_text" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690488578340" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Customers</h3>
<ul>
<li><a href="/customer-stories/seatgeek">SeatGeek</a></li>
<li><a href="/customer-stories/charity-water">charity: water</a></li>
<li><a href="/customer-stories/bond-street">Bond Street</a></li>
<li><a href="/customer-stories">See All</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col4" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690490210342" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Support</h3>
<ul>
<li><a href="/signup">Get Started</a></li>
<li><a href="http://spa-techdigital.herokuapp.com/">Log In</a></li>
<li><a href="/partners/">Become a Partner</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/terms">Terms of Service</a></li>
<li><a href="/privacy">Privacy Policy</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col1" style="" data-widget-type="rich_text" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690963122379" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-new-york-2" target="blank">New York, NY →</a></h3>
<p>161 Ave. of the Americas, 11th Fl.<br> New York, New York 10013</p>
<p>212-401-1982</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col2" style="" data-widget-type="rich_text" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690965466382" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-chicago" target="blank">Chicago, IL →</a></h3>
<p>358 W. Ontario Street, #3W<br> Chicago, Illinois 60654</p>
<p>773-932-9368</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col3" style="" data-widget-type="rich_text" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690964682381" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-san-francisco" target="blank">San Francisco, CA →</a></h3>
<p>755 Brannan Street<br> San Francisco, California 94103</p>
<p>628-203-5098</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col4" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690966505383" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-los-angeles" target="blank">Los Angeles, CA →</a></h3>
<p>8619 Washington Blvd.<br> Culver City, California 90232</p>
<p>424-210-8947</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text custom-copyright" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502691161796429" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>© 2017 Managed by Q Inc. All rights reserved.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-js-import" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1496851117404109" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><!-- HubSpot Main JS -->
<script src="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1505405151962/Custom/page/Managed_by_Q_August2017-theme/Managed_by_Q_August2017-main.min.js"></script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5296155878 path:generated_global_groups/5296155876.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->

    
<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js"></script>

        <!--[if lte IE 8]>
        <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
     
<script src="https://js.hsforms.net/forms/v2.js"></script>
<script>
    hbspt.forms.create({
        portalId: '3475418',
        formId: 'fc1c461f-4f4e-46b8-a262-12fa38b5d69b',
        formInstanceId: '1414',
        pageId: 5246907918,
        pageName: "null",
        redirectUrl: "http:\/\/blog.managedbyq.com\/?portalId=3475418&hsFormKey=20bf38bd05d21ff018b18dbe4c7a2086#module_1502690236074106",
        css: '',
        target: '#hs_form_target_module_1502690236074106',
        contentType: "listing-page",
        formData: {
        cssClass: 'hs-form stacked hs-custom-form'
        }
    });
</script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "listing-page"]);
_hsq.push(["setCanonicalUrl", "http:\/\/blog.managedbyq.com"]);
_hsq.push(["setPageId", "5246907918"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": null,
    "legacyPageId": null,
    "contentGroupId": 5246907918,
    "abTestId": null,
    "languageVariantId": null,
    "languageCode": null
}]);
_hsq.push(["setTargetedContentMetadata", []]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3475418.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1507724318644,
    page_id: 0,
    content_group_id: 5246907918,
    portal_id: 3475418,
    app_hs_base_url: "https://app.hubspot.com",
    language: "en",
    analytics_page_type: "listing-page"
}
</script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCVD9WD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

<!-- end coded_template: id:5349808721 path:generated_layouts/5349808717.html -->
</body></html>