<!doctype html><!-- start coded_template: id:5349808721 path:generated_layouts/5349808717.html --><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Managed by Q">
    <meta name="description" content="A refreshing take on office management">
    <meta name="generator" content="HubSpot">
    <title>The Watercooler</title>
    <link rel="shortcut icon" href="https://blog.managedbyq.com/hubfs/Q-Mark-Logo-30.png?t=1507687902538">
    

    <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript">hsjQuery = window['jQuery']</script>
    <link href="https://static.hsstatic.net/content_shared_assets/static-1.4049/css/public_common.css" rel="stylesheet">
    <meta property="og:description" content="A refreshing take on office management">
    <meta property="og:title" content="The Watercooler">
    <meta name="twitter:description" content="A refreshing take on office management">
    <meta name="twitter:title" content="The Watercooler">

    
<!--  Added by GoogleAnalytics integration -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49664327-2', 'auto');
  ga('send', 'pageview');
</script>

<!-- /Added by GoogleAnalytics integration -->

    

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCVD9WD');</script>
<!-- End Google Tag Manager -->

<meta property="og:type" content="blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="blog.managedbyq.com">
<link rel="alternate" type="application/rss+xml" href="//blog.managedbyq.com/rss.xml">

<link href="//cdn2.hubspot.net/hub/-1/hub_generated/template_assets/1495141902003/hubspot_default/shared/responsive/layout.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1506024474396/Custom/page/Managed_by_Q_August2017-theme/Managed_by_Q_August2017-style.min.css">
<link rel="stylesheet" href="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1506355738755/Custom/blog/Primary_Blog/Primary_Blog.min.css">

<link rel="next" href="//blog.managedbyq.com/page/2">
<link rel="canonical" href="http://blog.managedbyq.com">

</head>
<body class="blog   hs-blog-id-5246907918 hs-blog-listing" style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5295851740 path:generated_global_groups/5295851739.html -->
<div class="" data-global-widget-path="generated_global_groups/5295851739.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span1 widget-span widget-type-raw_html custom-logo" style="" data-widget-type="raw_html" data-x="0" data-w="1">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268965333048" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><a href="http://http://digital-service2.herokuapp.com/">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
<g>
<path d="M35,17.6c0-9.4-7.6-17-17-17c-9.4,0-17,7.6-17,17c0,9.4,7.6,17,17,17c3.2,0,6.1-0.9,8.7-2.4l3.1,3.1l4.5-4.5L31.4,28
C33.7,25.1,35,21.5,35,17.6z M18,28.3c-5.9,0-10.6-4.8-10.6-10.6C7.4,11.8,12.1,7,18,7c5.9,0,10.6,4.8,10.6,10.6
c0,2.2-0.6,4.2-1.7,5.8l-3.2-3.2l-4.5,4.5l2.8,2.8C20.7,28,19.4,28.3,18,28.3z"></path>
</g>
</svg>
</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span8 widget-span widget-type-menu custom-menu-primary" style="" data-widget-type="menu" data-x="1" data-w="8">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268989482649" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_150268989482649" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Managed by Q_August_2017_Sitemap">
 <ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="/services">What We Do</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/services">Services</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/people">People</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/technology">Technology</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 active hs-item-has-children active-branch"><a href="/blog">Resources</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/customer-stories">Customer Stories</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/office-moving-guide">Office Moves</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/allhands">All Hands</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/blog">Blog</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="/story">Our Company</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/story">Story</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/team">Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/press">Press</a></li>
   </ul></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-top-links" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150268964256347" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><ul>
<li><a href="/login">Log In</a></li>
<li><a href="/signup"> Get Started </a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-mobile-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-logo header-main" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502699876171450" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><a href="http://http://digital-service2.herokuapp.com/">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 36 36" style="enable-background:new 0 0 36 36;" xml:space="preserve">
<g>
<path d="M35,17.6c0-9.4-7.6-17-17-17c-9.4,0-17,7.6-17,17c0,9.4,7.6,17,17,17c3.2,0,6.1-0.9,8.7-2.4l3.1,3.1l4.5-4.5L31.4,28
C33.7,25.1,35,21.5,35,17.6z M18,28.3c-5.9,0-10.6-4.8-10.6-10.6C7.4,11.8,12.1,7,18,7c5.9,0,10.6,4.8,10.6,10.6
c0,2.2-0.6,4.2-1.7,5.8l-3.2-3.2l-4.5,4.5l2.8,2.8C20.7,28,19.4,28.3,18,28.3z"></path>
</g>
</svg>
</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-menu-inner" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-menu custom-menu-primary" style="" data-widget-type="menu" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502699905652451" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_1502699905652451" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Managed by Q_August_2017_Mobile_Sitemap">
 <ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Our Solution</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/services">Services</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/people">People</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/technology">Technology</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children active-branch"><a href="javascript:;"></a>
   <ul class="hs-menu-children-wrapper active-branch">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/story">Story</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/team">Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/customer-stories">Customer Stories</a></li>
    <li class="hs-menu-item hs-menu-depth-2 active active-branch"><a href="/blog">Blog</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="/signup">Get Started</a></li>
   </ul></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5295851740 path:generated_global_groups/5295851739.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->


<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center content-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell blog-content" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-blog_content " style="" data-widget-type="blog_content" data-x="0" data-w="12">
<div class="blog-section">
    <div class="blog-post-wrapper cell-wrapper">
        <div class="section post-header">
            <h1><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Efficiency for Every Office</span></h1>
            <span class="post-published">July 11, 2017</span>
        </div>
        <div class="section post-body">
            <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text"><p name="ab21" class="graf graf--p graf-after--figure">&nbsp;</p>
<!--more--><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2267.jpg" alt="The Effortless Office event at Managed by Q's headquarters office" width="620" title="The Effortless Office event at Managed by Q's headquarters office" caption="false" data-constrained="true" style="width: 620px;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=310&amp;name=www.winstonstruye.com-2267.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2267.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=930&amp;name=www.winstonstruye.com-2267.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=1240&amp;name=www.winstonstruye.com-2267.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=1550&amp;name=www.winstonstruye.com-2267.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2267.jpg?t=1507740387244&amp;width=1860&amp;name=www.winstonstruye.com-2267.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px">
<p name="ab21" id="ab21" class="graf graf--p graf-after--figure">No office is the same. From team dietary restrictions to tending to the finicky plants at reception, every office space has unique needs. As a result, the role of the office operations team varies significantly by company, and each office coordinator and HR manager has learned different tricks for running their office along the way.</p>
<p name="8756" id="8756" class="graf graf--p graf-after--p">To learn how some of the most innovative companies manage their offices, we asked four people and office operations managers in different industries––including retail, data, media, and nonprofit — to share the tools and skills they’ve adopted that have been successful in their respective roles.</p>
<p name="bddf" id="bddf" class="graf graf--p graf-after--p">At our recent event for office operations professionals, The Effortless Office, the panelists spoke about how they combine tech tools with soft skills to manage their workload, create a great employee experience, and keep their office organized and productive.<br><br></p>
<h2 id="7064" class="graf graf--h3 graf-after--p">Office automation at your fingertips</h2>
<p name="4e45" id="4e45" class="graf graf--p graf-after--h3">Each of our speakers discussed how they are responsible for far more than their titles suggest, a phenomenon we have found is common in the office operations field. In addition to managing the office or employee experience, there’s often overlap with tasks like recruiting, HR, executive assistance, and IT. For the panelists, technology is key to expediting their work and balancing competing priorities.</p>
<p name="4e45" class="graf graf--p graf-after--h3"><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2339-EDIT.jpg" alt="Ashley, the People and Office Experience Manager at Tictail in New York" width="620" title="Ashley, the People and Office Experience Manager at Tictail in New York" caption="false" data-constrained="true" style="width: 620px;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=310&amp;name=www.winstonstruye.com-2339-EDIT.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2339-EDIT.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=930&amp;name=www.winstonstruye.com-2339-EDIT.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=1240&amp;name=www.winstonstruye.com-2339-EDIT.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=1550&amp;name=www.winstonstruye.com-2339-EDIT.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2339-EDIT.jpg?t=1507740387244&amp;width=1860&amp;name=www.winstonstruye.com-2339-EDIT.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"></p>
<p name="4e45" class="graf graf--p graf-after--h3"><a href="https://allhands.managedbyq.com/article/ashley-stires-tictail-people-office-experience-manager" data-href="https://allhands.managedbyq.com/article/ashley-stires-tictail-people-office-experience-manager" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">Ashley, the People and Office Experience Manager at Tictail</a><span>, focused on automating parts of her role as it expanded from executive assistance and office management to human resources. Unable to backfill her office manager role, Ashley looked for tools that would save her time. She relies on:</span></p>
<ul class="postList">
<li id="23a3" class="graf graf--li graf-after--p">
<p> For performance management and reviews, the platform works for Ashley because it can be customized to her team’s needs.</p>
</li>
<li id="d200" class="graf graf--li graf-after--li">
<p>Managed by Q — Ashley used to spend a lot of time micromanaging her previous cleaning staff. With Q she can easily keep track of her office cleaning and maintenance through an online dashboard.</p>
</li>
<li id="5869" class="graf graf--li graf-after--li">
<p>Justworks — To support her HR responsibilities, Ashley uses this platform to automate benefits and answer legal questions about compliance, visas, payroll, and more. Its Slack integration enables her to direct employees straight to Justworks for specific questions.</p>
</li>
</ul>
<p><span>Michael, the Office Manager and Account Manager at Uproxx, saw a lot of room for improvement when it came to operational efficiencies when he joined the team. He focused on improving processes to save time, and like Ashley, had to automate his office management duties when he transitioned into an account management role.</span></p>
<ul class="postList">
<li id="7beb" class="graf graf--li graf-after--p">
<p>Seamless — Michael completely automated team lunch days with a Seamless corporate account. He was able to set up individual accounts for each team member, set a budget, and send automated email reminders to place orders. Team members can order their own meals based on their schedule and dietary preferences, which has saved Michael hours every week.</p>
</li>
<li id="5d0a" class="graf graf--li graf-after--li">
<p>FreshDirect — To cut down on the amount of time spent ordering groceries, Michael setup a recurring weekly grocery order with pre-populated items. All he has to do is audit the list to remove anything that is still in stock in the office.</p>
</li>
</ul>
<p><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2481.jpg" alt=" Jordan, the Office Experience Manager at charity: water" width="620" title=" Jordan, the Office Experience Manager at charity: water" caption="false" data-constrained="true" style="width: 620px;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=310&amp;name=www.winstonstruye.com-2481.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2481.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=930&amp;name=www.winstonstruye.com-2481.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=1240&amp;name=www.winstonstruye.com-2481.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=1550&amp;name=www.winstonstruye.com-2481.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2481.jpg?t=1507740387244&amp;width=1860&amp;name=www.winstonstruye.com-2481.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"></p>
<p><span>But our panelists use technology for more than just efficiency and automation. Jordan, the Office Experience Manager at charity: water, uses tech to foster community and improve communication. Her team uses Slack for internal communications, so she found ways to leverage Slack to build culture.</span></p>
<ul class="postList">
<li id="d6a4" class="graf graf--li graf-after--p">
<p>Donut.ai — This bot pairs employees who don’t message one another often and asks them to set up a time to go grab a coffee or donut — or in Jordan’s case, fried chicken. The integration helps teams to get to know each other better and can be set on a weekly or biweekly basis.</p>
</li>
<li id="cf24" class="graf graf--li graf-after--li">
<p>High-Five — Jordan created this channel as a place for employees to recognize one another — it’s a digital high-five. The mentions from the channel feed into their quarterly MVP program.</p>
</li>
</ul>
<h2 id="011d" class="graf graf--h3 graf-after--li"><br>It’s all about the&nbsp;people</h2>
<p name="89a9" id="89a9" class="graf graf--p graf-after--h3">Beyond the apps and platforms that make office management easier, are the skills that office operations and HR teams have honed and use to create a great work experience and set employee expectations. According to our panelists, most of this part of their job comes down to understanding your team and proactively using your interpersonal skills and creativity.</p>
<p name="ac57" id="ac57" class="graf graf--p graf-after--p"><a href="https://allhands.managedbyq.com/article/kristine-suh-chartbeat-ambassador-of-culture" data-href="https://allhands.managedbyq.com/article/kristine-suh-chartbeat-ambassador-of-culture" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">Kristine, the Manager of People and Culture at Chartbeat</a>, has focused a lot of her time creating a great culture as her company has grown up and out of its startup phase. Her best piece of advice for creating togetherness on a growing team? Get everyone involved early on.</p>
<p name="36f4" id="36f4" class="graf graf--p graf-after--p">When you roll out something without the involvement of others, you create more work for yourself and people are less likely to adopt your plan or activity. Because everyone is opinionated about how they spend their time, Kristine found that when she got her team involved in company events early on they became cheerleaders for company culture.</p>
<p name="050f" id="050f" class="graf graf--p graf-after--p">For example, Kristine will email the team about obscure celebrations like National Pi or Play-Doh Day with directions for a competition. For Play-Doh Day she put a tub of playdoh on everyone’s desk and asked them to create their best design (by swapping, bartering, or stealing other colors) and send a photo to her. All she had to do was agregate the images and create a poll in Slack. The team got really into the first few competitions and ran with it. Now they proactively ask her what they’re doing for obtuse national days.</p>
<p name="050f" class="graf graf--p graf-after--p"><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2662.jpg" alt="Office managers discuss the tools they use to run their office" width="620" title="Office managers discuss the tools they use to run their office" caption="false" data-constrained="true" style="width: 620px;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=310&amp;name=www.winstonstruye.com-2662.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2662.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=930&amp;name=www.winstonstruye.com-2662.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=1240&amp;name=www.winstonstruye.com-2662.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=1550&amp;name=www.winstonstruye.com-2662.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2662.jpg?t=1507740387244&amp;width=1860&amp;name=www.winstonstruye.com-2662.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"></p>
<p name="96b3" id="96b3" class="graf graf--p graf-after--figure">Michael emphasized that creating culture doesn’t have to be expensive. Like Kristine’s low-cost competitions, Michael starting posting a weekly riddle on a large chalkboard wall by the entrance to the office. His team got competitive about solving them and actively looks forward to the next one, so now all he has to do is put up a new riddle each week.</p>
<p name="2658" id="2658" class="graf graf--p graf-after--p">To get people moving in the office, he created a push-up challenge and Xbox tournaments. Michael created a company-wide calendar invite that reminds the team to stop and do 20 pushups every two hours. Every Friday, team members can play FIFA soccer or Dance Dance Revolution on an Xbox, a healthier work week wind down.</p>
<h2 id="80f0" class="graf graf--h3 graf-after--p"><br>Making an&nbsp;impact</h2>
<p name="da3f" id="da3f" class="graf graf--p graf-after--h3">Whether you’re rolling out a new team-facing app to streamline your work or trying something new to foster employee engagement, the best thing you can do is be supportive of your team. No matter what position you’re in, you can make a difference within your company.</p>
<p name="97dd" id="97dd" class="graf graf--p graf-after--p">Each panelist mentioned the caveat that, in an office full of many personality-types, you can’t please everyone, and it’s best not to beat yourself up about it. Instead, as an office manager, administrator, or HR team member, you should strive to meet please the most people you can. As long as the employees who opt-in to your activities and the office culture are engaged and happy, you’ve done your job.</p>
<p name="88ac" id="88ac" class="graf graf--p graf-after--p">And beyond pleasing your team, you should feel empowered to focus on creating processes and adopting tools that free up time in your day and so that you can make room to focus on your own professional growth.</p>
<h2 id="0331" class="graf graf--h3 graf-after--p"><br>Office Manager tested and approved&nbsp;tools</h2>
<p><img src="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2753.jpg" alt="Office mangers make a list of tech tools at Managed by Q" width="620" title="Office mangers make a list of tech tools at Managed by Q" caption="false" data-constrained="true" style="width: 620px;" srcset="https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=310&amp;name=www.winstonstruye.com-2753.jpg 310w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=620&amp;name=www.winstonstruye.com-2753.jpg 620w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=930&amp;name=www.winstonstruye.com-2753.jpg 930w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=1240&amp;name=www.winstonstruye.com-2753.jpg 1240w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=1550&amp;name=www.winstonstruye.com-2753.jpg 1550w, https://blog.managedbyq.com/hs-fs/hubfs/Blog/www.winstonstruye.com-2753.jpg?t=1507740387244&amp;width=1860&amp;name=www.winstonstruye.com-2753.jpg 1860w" sizes="(max-width: 620px) 100vw, 620px"></p>
<p name="4a02" id="4a02" class="graf graf--p graf-after--figure">We asked our panelists and attendees what three tools they couldn’t live without. Here’s the roundup:</p>
<h3 id="256b" class="graf graf--h4 graf-after--p">Productivity and request management:</h3>
<ul class="postList">
<li id="3a06" class="graf graf--li graf-after--h4">
<p>Asana</p>
</li>
<li id="ee93" class="graf graf--li graf-after--li">
<p>Trello</p>
</li>
<li id="9d60" class="graf graf--li graf-after--li">
<p>Evernote</p>
</li>
<li id="5470" class="graf graf--li graf-after--li">
<p>JIRA</p>
</li>
<li id="67ae" class="graf graf--li graf-after--li">
<p>Google Keep</p>
</li>
</ul>
<h3 id="becf" class="graf graf--h4 graf-after--li">Food and&nbsp;drinks:</h3>
<ul class="postList">
<li id="51c2" class="graf graf--li graf-after--h4">
<p>Amazon</p>
</li>
<li id="36a7" class="graf graf--li graf-after--li">
<p>FreshDirect</p>
</li>
<li id="49c1" class="graf graf--li graf-after--li">
<p>Boxed</p>
</li>
<li id="115b" class="graf graf--li graf-after--li">
<p>Costco / Monster Savings</p>
</li>
</ul>
<h3 id="8007" class="graf graf--h4 graf-after--li">HR and accounting:</h3>
<ul class="postList">
<li id="34c6" class="graf graf--li graf-after--h4">
<p>Lattice</p>
</li>
<li id="2098" class="graf graf--li graf-after--li">
<p>Concur</p>
</li>
<li id="97a3" class="graf graf--li graf-after--li">
<p>Abacus</p>
</li>
</ul>
<h3 id="60eb" class="graf graf--h4 graf-after--li">Surveys:</h3>
<ul class="postList">
<li id="3ee6" class="graf graf--li graf-after--h4">
<p>Qualtrics</p>
</li>
<li id="1481" class="graf graf--li graf-after--li">
<p>SurveyMonkey</p>
</li>
</ul>
<p><em class="markup--em markup--p-em"><br>The Effortless Office is a national event series hosted by Managed by Q that empowers office management and operations professionals to excel in their careers by sharing actionable skills, tools, and ideas for managing a team and workspace.<span>&nbsp;</span></em><a href="mailto:Q@managedbyq.com?subject=The%20Effortless%20Office%20event%20series&amp;body=I%27d%20like%20to%20join%20the%20next%20event%20in%20[your%20city]!" data-href="mailto:Q@managedbyq.com?subject=The Effortless Office event series&amp;body=I'd like to join the next event in [your city]!" class="markup--anchor markup--p-anchor" target="_blank"><em class="markup--em markup--p-em">Email Q@managedbyq.com</em></a><em class="markup--em markup--p-em"><span>&nbsp;</span>to join us at the next event in your city!</em></p></span>
        </div>
    </div>
</div>


<!-- Optional: Blog Author Bio Box -->





</div>

</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell blog__go-back" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150629727670222" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><a href="https://blog.managedbyq.com">← Back to blog</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5296155878 path:generated_global_groups/5296155876.html -->
<div class="" data-global-widget-path="generated_global_groups/5296155876.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-top-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text custom-footer-top-heading" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150269002117786" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>The Operating System for Offices<sub>TM</sub></h2></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-cell custom-footer-top-left" style="" data-widget-type="cell" data-x="0" data-w="6">

<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-form custom-footer-form" style="" data-widget-type="form" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690236074106" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_module_1502690236074106_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">Stay up-to-date with Q</h3>

<div id="hs_form_target_module_1502690236074106"></div>



</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-terms-condition" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150286734183316" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><p>Terms &amp; Conditions</p>
<div class="popup-over">
<div class="arrow"></div>
<div class="popover-content">Managed by Q may provide promotional information to the Customer on a regular basis, including via email or any other means of electronic communication. This promotional information can be altered or removed at any point in time without advance notification.  The Customer may opt out of these communications by sending an email to unsubscribe@managedbyq.com.</div>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span6 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690362427335" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><h3>Connect With Us</h3>
<div class="social-icons">
<a class="icon icon-twitter" href="https://twitter.com/managedbyq" target="blank"></a>
<a class="icon icon-facebook" href="https://facebook.com/managedbyq" target="blank"></a>
<a class="icon icon-linkedin" href="https://www.linkedin.com/company/managed-by-q" target="blank"></a>
<a class="icon icon-instagram" href="https://instagram.com/managedbyq" target="blank"></a>
<a class="icon icon-medium" href="https://medium.com/@ManagedbyQ" target="blank"></a>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-bottom-group" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col1" style="" data-widget-type="rich_text" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690466954336" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>What We Do</h3>
<ul>
<li><a href="/services">Services</a></li>
<li><a href="/people">People</a></li>
<li><a href="/technology">Technology</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col2" style="" data-widget-type="rich_text" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690489282341" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Company</h3>
<ul>
<li><a href="/story">Story</a></li>
<li><a href="/team">Team</a></li>
<li><a href="/careers">Careers</a></li>
<li><a href="/press">Press</a></li>
<li><a href="/allhands" target="_blank">All Hands</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col3" style="" data-widget-type="rich_text" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690488578340" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Customers</h3>
<ul>
<li><a href="/customer-stories/seatgeek">SeatGeek</a></li>
<li><a href="/customer-stories/charity-water">charity: water</a></li>
<li><a href="/customer-stories/bond-street">Bond Street</a></li>
<li><a href="/customer-stories">See All</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text footer-bottom-link col4" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690490210342" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>Support</h3>
<ul>
<li><a href="/signup">Get Started</a></li>
<li><a href="http://http://digital-service2.herokuapp.com/">Log In</a></li>
<li><a href="/partners/">Become a Partner</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/terms">Terms of Service</a></li>
<li><a href="/privacy">Privacy Policy</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col1" style="" data-widget-type="rich_text" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690963122379" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-new-york-2" target="blank">New York, NY →</a></h3>
<p>161 Ave. of the Americas, 11th Fl.<br> New York, New York 10013</p>
<p>212-401-1982</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col2" style="" data-widget-type="rich_text" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690965466382" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-chicago" target="blank">Chicago, IL →</a></h3>
<p>358 W. Ontario Street, #3W<br> Chicago, Illinois 60654</p>
<p>773-932-9368</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col3" style="" data-widget-type="rich_text" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690964682381" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-san-francisco" target="blank">San Francisco, CA →</a></h3>
<p>755 Brannan Street<br> San Francisco, California 94103</p>
<p>628-203-5098</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text custom-footer-address-link col4" style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502690966505383" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><a href="https://www.yelp.com/biz/managed-by-q-los-angeles" target="blank">Los Angeles, CA →</a></h3>
<p>8619 Washington Blvd.<br> Culver City, California 90232</p>
<p>424-210-8947</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text custom-copyright" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1502691161796429" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>© 2017 Managed by Q Inc. All rights reserved.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-js-import" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1496851117404109" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><!-- HubSpot Main JS -->
<script src="https://blog.managedbyq.com/hs-fs/hub/3475418/hub_generated/template_assets/1505405151962/Custom/page/Managed_by_Q_August2017-theme/Managed_by_Q_August2017-main.min.js"></script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5296155878 path:generated_global_groups/5296155876.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->

    
<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js"></script>

        <!--[if lte IE 8]>
        <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
     
<script src="https://js.hsforms.net/forms/v2.js"></script>
<script>
    hbspt.forms.create({
        portalId: '3475418',
        formId: 'fc1c461f-4f4e-46b8-a262-12fa38b5d69b',
        formInstanceId: '1414',
        pageId: 5246907918,
        pageName: "null",
        redirectUrl: "http:\/\/blog.managedbyq.com\/?portalId=3475418&hsFormKey=20bf38bd05d21ff018b18dbe4c7a2086#module_1502690236074106",
        css: '',
        target: '#hs_form_target_module_1502690236074106',
        contentType: "listing-page",
        formData: {
        cssClass: 'hs-form stacked hs-custom-form'
        }
    });
</script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "listing-page"]);
_hsq.push(["setCanonicalUrl", "http:\/\/blog.managedbyq.com"]);
_hsq.push(["setPageId", "5246907918"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": null,
    "legacyPageId": null,
    "contentGroupId": 5246907918,
    "abTestId": null,
    "languageVariantId": null,
    "languageCode": null
}]);
_hsq.push(["setTargetedContentMetadata", []]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3475418.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1507724318644,
    page_id: 0,
    content_group_id: 5246907918,
    portal_id: 3475418,
    app_hs_base_url: "https://app.hubspot.com",
    language: "en",
    analytics_page_type: "listing-page"
}
</script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCVD9WD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

<!-- end coded_template: id:5349808721 path:generated_layouts/5349808717.html -->
</body></html>