<div class="page page-contact">
    
<div class="contact-header">
  <h2 class="hero-headline">Still haven’t found what you’re looking for?</h2>
  <p class="hero-subheadline">Tell us a little about yourself and our team will be in touch.</p>
</div>

<div class="page-body">
  <div class="contact-form">
    <select class="contact-form-variant-selector js-contact-form-variant-selector">
      <option disabled selected>How can we help you today?</option>
      <option value="sales">I&#039;m a prospective client</option>
      <option value="current-client">I&#039;m a current client</option>
      <option value="careers">I&#039;m interested in applying to a job at Q</option>
      <option value="partners">I&#039;m interested in becoming a partner on Q’s Marketplace</option>
      <option value="press">I&#039;m a member of the press</option>
      <option value="property-manager">I&#039;m a building owner or property manager</option>
      <option value="general">I&#039;m looking for something else.</option>
    </select>

    <div class="contact-form-variant" id="sales">
      <div class="contact-git-intro"><p>Thanks for stopping by. Let us know more about your office and our team will reach out with additional information about being Managed by Q</p></div>
      
<div class="git-form">
  <script>
    hbspt.forms.create({
      css: '',
      portalId: '3475418',
      formId: '66b0ed8e-5339-4ea9-b3c0-31885fb778ec'
    });
  </script>
</div>
      <div class="form-thank-you thank-you-1">
        <h3>Thank you! One of our office specialists will be in touch soon to help you learn more about Q.</h3>
      </div>
    </div>

    <div class="contact-form-variant" id="current-client">
      <p>Hi there! You can get in touch with your support team by logging into the <a href="dashboard.managedbyq.com"></a><a href="http://dashboard.managedbyq.com">Q Dashboard</a>. Forgot your password? You can reset it <a href="#"></a><a href="https://dashboard.managedbyq.com/password/reset/"></a><a href="https://dashboard.managedbyq.com/password/reset/" target="_blank">here</a>.</p>
    </div>

    <div class="contact-form-variant" id="careers">
      <p>Visit our <a href="http://www.managedbyq.com/careers">Careers page</a> to view our current openings and apply online.</p>
    </div>

    <div class="contact-form-variant" id="partners">
      <p>We’re always looking to grow our partner network. Visit our <a href="https://learn.managedbyq.com/partners/" target="_blank">Partner website</a> to learn more about joining our marketplace and to get in touch with our team. </p>
    </div>

    <div class="contact-form-variant" id="press">
      <form id="contactFormPress">
        <p>Looking for a quote? Need hi-res images? Our press team can help.</p>
        <fieldset class="git-form-contact">
          <h5 class="fieldset-header">Contact Information</h5>
          <div class="form-col">
            <input id="firstName" type="text" name="first_name" placeholder="First Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="lastName" type="text" name="last_name" placeholder="Last Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="publication" type="text" name="publication" placeholder="Company" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="website" type="text" name="website" placeholder="Company Website" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="email" type="email" name="email" placeholder="Email Address" data-validetta="required,email" data-vd-message-required="Must not be empty" data-vd-message-email="Email Address is invalid.">
          </div>
        </fieldset>

        <fieldset class="git-form-note">
          <h5 class="fieldset-header">Anything Else?</h5>
          <span class="optional-note"><h5>(Optional)</h5></span>
          <textarea id="note" name="note" placeholder="Anything Else? "></textarea>
        </fieldset>

        <input id="submit" class="btn btn-primary" type="submit" value="Submit" onClick="mbq_snowplow('trackStructEvent', 'category','submit_clicked','contact',email);">

        <div class="error-message">
          <p>Something went wrong, please contact us directly at <a href="mailto:hello@managedbyq.com">hello@managedbyq.com</a></p>
        </div>
      </form>
      <div class="form-thank-you thank-you-5">
        <p>Thank you! A member of our press team will be in touch soon.</p>
      </div>
    </div>

    <div class="contact-form-variant" id="property-manager">
      <form id="contactFormPropertyManager">
        <p>Let us know more about your company and our team will reach out with more information.</p>
        <fieldset class="git-form-contact">
          <h5 class="fieldset-header">Contact Information</h5>
          <div class="form-col">
            <input id="firstName" type="text" name="first_name" placeholder="First Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="lastName" type="text" name="last_name" placeholder="Last Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="companyName" type="text" name="company_name" placeholder="Company" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="companyWebsite" type="text" name="company_website" placeholder="Company Website" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="city" type="text" name="city" placeholder="City" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="email" type="email" name="email" placeholder="Email Address" data-validetta="required,email" data-vd-message-required="Must not be empty" data-vd-message-email="Email Address is invalid.">
          </div>
        </fieldset>

        <fieldset class="git-form-note">
          <h5 class="fieldset-header">Anything Else?</h5>
          <span class="optional-note"><h5>(Optional)</h5></span>
          <textarea id="note" name="note" placeholder="Anything Else? "></textarea>
        </fieldset>

        <input id="submit" class="btn btn-primary" type="submit" value="Submit" onClick="mbq_snowplow('trackStructEvent', 'category','submit_clicked','contact',email);">

        <div class="error-message">
          <p>Something went wrong, please contact us directly at <a href="mailto:hello@managedbyq.com">hello@managedbyq.com</a></p>
        </div>
      </form>
      <div class="form-thank-you thank-you-6">
        <p>Thank you! A member of our team will be in touch soon to help you learn more about Q's platform for property management. </p>
      </div>
    </div>

    <div class="contact-form-variant" id="general">
      <form id="contactFormOther">
        <p>We love a good challenge. Let us know what you have in mind and we’ll get right on it.</p>
        <fieldset class="git-form-contact">
          <h5 class="fieldset-header">Contact Information</h5>
          <div class="form-col">
            <input id="firstName" type="text" name="first_name" placeholder="First Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="lastName" type="text" name="last_name" placeholder="Last Name" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="companyName" type="text" name="company_name" placeholder="Company" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="companyWebsite" type="text" name="company_website" placeholder="Company Website" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="city" type="text" name="city" placeholder="City" data-validetta="required" data-vd-message-required="Must not be empty">
          </div>
          <div class="form-col">
            <input id="email" type="email" name="email" placeholder="Email Address" data-validetta="required,email" data-vd-message-required="Must not be empty" data-vd-message-email="Email Address is invalid.">
          </div>
        </fieldset>

        <fieldset class="git-form-note">
          <h5 class="fieldset-header">Anything Else?</h5>
          <span class="optional-note"><h5>(Optional)</h5></span>
          <textarea id="note" name="note" placeholder="Anything Else? "></textarea>
        </fieldset>

        <input id="submit" class="btn btn-primary" type="submit" value="Submit" onClick="mbq_snowplow('trackStructEvent', 'category','submit_clicked','contact',email);">

        <div class="error-message">
          <p>Something went wrong, please contact us directly at <a href="mailto:hello@managedbyq.com">hello@managedbyq.com</a></p>
        </div>
      </form>
      <div class="form-thank-you thank-you-7">
        <p>Thank you! One of our team members will be in touch soon.</p>
      </div>
    </div>

  </div>
</div>

  </div>